<h1 mat-dialog-title> Cambio de Password</h1>
<hr>
<div   mat-dialog-content>
    <form [formGroup]="updatePasswordForm">

        <div class="row">
            <mat-form-field appearance="legacy">
                <mat-label>Usuario:</mat-label><br>
                <input  id="fName"formControlName="firstName" matInput>
                
                <mat-hint></mat-hint>
              </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="legacy">
                <mat-label>Contraseña Nueva:</mat-label><br>
                <input  type="password" id="fName"formControlName="passwordA" matInput>
                
                <mat-hint></mat-hint>
              </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="legacy">
                <mat-label>Confirmación Contraseña:</mat-label><br>
                <input type="password" id="fName"formControlName="passwordB" matInput>
                
                <mat-hint></mat-hint>
              </mat-form-field>
    
        </div>

        <div class="d-grid gap-12 col-12 mx-auto">
            <button  class="btn btn-info" type="button" (click)="save()">Cambiar</button>
            
          </div> 
    </form>
</div>