body {
    min-height: 30%;
    min-width: none;
    min-height: 30vh;
    width: 100% !important;
}

form {
    width: 100%;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    min-height: 30vh;
    background-color: white;
}

@media (max-width:100%) {
    form {
        width: 100%;
    }

}

mat-form-field {
    margin-top: auto;
    margin-bottom: 40px;
    width: 100% !important;
    font-size: 20px;
}

mat-label {
    font-size: 20px;
   
}