<body>
    <div class="contenedor" class="mat-elevation-z8">
        <form [formGroup]="newLubricantForm" class="mat-elevation-z8" (ngSubmit)="createLubricant();">
            <h1>Registro de nuevo Lubricante</h1>
            <hr>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group col-md-6">
                        <label> Nombre Lubricante</label>
                        <input type="text" class="form-control" formControlName="lubricantName" placeholder="Nombre de lubricante">
                    </div>
                    <div class="form-group col-md-6">
                        <label> Código</label>
                        <input type="text" class="form-control" formControlName="lubricantInvetoryCode" placeholder="código de producto">
                    </div>
                    <div class="form-group col-md-6">
                        <label> Precio Costo</label>
                        <input type="text" class="form-control" formControlName="lubricantCostPrice" placeholder="precio de compra">
                    </div>
                    <div class="form-group col-md-6">
                        <label> Precio Público</label>
                        <input type="text" class="form-control" formControlName="lubricantSalePrice" placeholder="precio de venta">
                    </div>

                    <div class="form-group col-md-4">
                        <label for="inputState">Status</label>
                        <select class="form-control" formControlName="statusId">
                            <option value="">-- Seleccione Status --</option>
                            <option *ngFor="let status of selectedStatus" [value]="status.statusId"> {{ status.statusName }} </option>
                        </select>
                    </div><br>
                    <div class="form-group col-md-4">
                        <button type="submit" class="btn btn-primary btn-lg btn-block btn btn-info" >Guardar</button>
                    </div>


                </div>
            </div>
        </form>
    </div>
</body>