<app-cuadres-navbar></app-cuadres-navbar>

<body>
    <div class="contenedor">
        <form class="formulario" [formGroup]="salesControlForm" class="mat-elevation-z8">
            <h1>Control de Cuadre Diario</h1>
            <hr>
            <div>
                <table id="tablaEncabezado" class="table  table-responsive" class="example-full-width" cellSpacing="0">
                    <br>
                    <tr>

                        <td id="parametrosPrincipales">
                            <div>
                                <label id="labelDate"> Seleccione Fecha : &nbsp; &nbsp; &nbsp;</label>
                                <mat-form-field id="mat-form-field-registros" id="matFiel-heards" color="accent"
                                    appearance="fill">
                                    <input id="input-registros" formControlName="readingDate" required matInput
                                        [matDatepicker]="readingDate">
                                    <mat-datepicker-toggle [for]="readingDate" matSuffix></mat-datepicker-toggle>
                                    <mat-datepicker #readingDate></mat-datepicker>
                                </mat-form-field>
                            </div><br>
                            <div>
                                <button mat-raised-button color="primary" id="buttonDate"
                                    (click)="openDay();">Aperturar</button>

                                    <button (click)="prueba();">prueba</button>
                            </div>
                            <br>
                        </td>

                        <td>
                            <mat-form-field id="mat-form-field-registros" id="mat-form-field-registros"
                                appearance="legacy">

                                <mat-label>Número de Documento:</mat-label>

                                <input id="input-registros" id="input-registros" type="number" name="gallonA"
                                    formControlName="noDocument" matInput>
                                <mat-icon matPrefix>numbers</mat-icon>
                                <mat-hint>Número de documento del día</mat-hint><br>
                            </mat-form-field><br>
                        </td>
                    </tr>

                </table>
            </div>
            <hr>

            <section id="sectionPrices">
                <table id="tablaEncabezado" class="table  table-responsive" class="example-full-width" cellSpacing="0">
                    <br>
                    <tr>
                        <td colspan="3" scope="rowgroup" align="center">
                            <h1>Precios Actuales</h1>
                            <hr>
                        </td>
                    </tr>

                    <tr>
                        <td id="tr-td-registros">

                            <mat-form-field id="mat-form-field-prices" appearance="legacy">
                                <mat-label>Super</mat-label>
                                <input id="input-registros" id="input-registros" type="number" name="gallonA"
                                    formControlName="regularPrice" matInput readonly=" ">

                                <mat-hint>precio en valla</mat-hint><br>
                            </mat-form-field><br>
                        </td>

                        <td id="tr-td-registros">

                            <mat-form-field id="mat-form-field-prices" appearance="legacy">
                                <mat-label>Super</mat-label>
                                <input id="input-registros" id="input-registros" type="number" name="gallonA"
                                    formControlName="superPrice" matInput readonly=" ">

                                <mat-hint>precio en valla</mat-hint><br>
                            </mat-form-field><br>
                        </td>

                        <td id="tr-td-registros">

                            <mat-form-field id="mat-form-field-prices" appearance="legacy">
                                <mat-label>Diesel</mat-label>
                                <input id="input-registros" id="input-registros" type="number" name="gallonA"
                                    formControlName="dieselPrice" matInput readonly=" ">

                                <mat-hint>precio en valla</mat-hint><br>
                            </mat-form-field><br>
                        </td>
                    </tr>
                    <br><br>
                </table>
            </section>

            <section id="sectionSales">
                <table id="tablaEncabezado" class="table  table-responsive" class="example-full-width" cellSpacing="0">
                    <br>
                    <tr>
                        <td colspan="3" scope="rowgroup" align="center">
                            <h1>Galones Vendidos</h1>
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td id="tr-td-registros">

                            <mat-form-field id="mat-form-field-registros" id="mat-form-field-registros"
                                appearance="legacy">
                                <mat-label>Regular:</mat-label>
                                <input id="input-registros" id="input-registros" type="number" name="gallonA"
                                    formControlName="totalGallonRegular" matInput readonly="">
                                <mat-icon matSuffix> local_gas_station</mat-icon>
                                <mat-hint>Lectura Anterior</mat-hint><br>
                            </mat-form-field><br>
                            
                        </td>

                        <td id="tr-td-registros">

                            <mat-form-field id="mat-form-field-prices" appearance="legacy">
                                <mat-label>Super</mat-label>
                                <input id="input-registros" id="input-registros" type="number" name="gallonA"
                                    formControlName="totalGallonSuper" matInput readonly=" ">

                                <mat-hint>galones vendidos</mat-hint><br>
                            </mat-form-field><br>
                        </td>

                        <td id="tr-td-registros">

                            <mat-form-field id="mat-form-field-prices" appearance="legacy">
                                <mat-label>Diesel</mat-label>
                                <input id="input-registros" id="input-registros" type="number" name="gallonA"
                                    formControlName="totalGallonDiesel" matInput readonly=" ">
                                <mat-hint>galones vendidos</mat-hint><br>
                            </mat-form-field><br>
                        </td>

                    </tr><br><br>
                    <tr>
                        <td colspan="3" scope="rowgroup" align="center">
                            <button mat-raised-button id="buttonAceptTotalGallons" (click)="confirmSale();">Confirmar venta de galones</button>
                        </td>
                    </tr>

                </table>
            </section>

            <br><br><br><br><br><br><br><br><br>
            <hr>

            <section id="sectionAcumulativo">
                <table id="tablaEncabezado" class="table  table-responsive" class="example-full-width" cellSpacing="0">
                    <tr>
                        <td colspan="3" scope="rowgroup" align="center">
                            <h1>Acumulativo</h1>
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td id="tr-td-registros" *ngFor="let a of countGallonsRegular">

                            <mat-form-field id="mat-form-field-accumulated" appearance="legacy">
                                <mat-label>Regular</mat-label>
                                <input id="input-registros" id="input-registros" type="number" name="gallonA"
                                    formControlName="regularAccumulatedGallons"  [(ngModel)]="a.count" matInput>

                                <mat-hint>acumulativo del mes</mat-hint>
                            </mat-form-field>
                        </td>
                    </tr>

                    <tr>
                        <td id="tr-td-registros" *ngFor="let sup of countGallonsSuper" >

                            <mat-form-field id="mat-form-field-accumulated" appearance="legacy">
                                <mat-label>Diesel</mat-label>
                                <input id="input-registros" id="input-registros" type="number" name="gallonA"
                                    formControlName="superAccumulatedGallons" [(ngModel)]="sup.count" matInput>

                                <mat-hint>acumulativo del mes</mat-hint>
                            </mat-form-field>
                        </td>
                    </tr>

                    <tr>
                        <td id="tr-td-registros"  *ngFor="let diesel of countGallonsDiesel">
                            <mat-form-field id="mat-form-field-accumulated" appearance="legacy">
                                <mat-label>Super</mat-label>
                                <input id="input-registros" id="input-registros" type="number" name="gallonA"
                                    formControlName="dieselAccumulatedGallons" [(ngModel)]="diesel.count" matInput>

                                <mat-hint>acumulativo del mes</mat-hint>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </section>
            <section id="seccionAbonos">
                <table id="tablaEncabezado" class="table  table-responsive" class="example-full-width" cellSpacing="0">
                    <tr>
                        <td colspan="3" scope="rowgroup" align="center">
                            <h1>Abonos</h1>
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td id="tr-td-registros">
                            <mat-form-field id="mat-form-field-payment" appearance="legacy">
                                <mat-label>Gastos</mat-label>
                                <input id="input-registros" id="input-registros" type="number" name="gallonA"
                                    formControlName="bills" matInput>

                                <mat-hint>gatos generados</mat-hint><br>
                            </mat-form-field>
                        </td>

                        <td id="tr-td-registros">

                            <mat-form-field id="mat-form-field-payment" appearance="legacy">
                                <mat-label>Vales</mat-label>
                                <input id="input-registros" id="input-registros" type="number" name="gallonA"
                                    formControlName="vales" matInput>

                                <mat-hint>vales recibidos</mat-hint>
                            </mat-form-field>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="3" scope="rowgroup" align="center">

                            <hr id="hrAbonos">
                        </td>
                    </tr>

                    <tr>
                        <td id="tr-td-registros">
                            <mat-form-field id="mat-form-field-payment" appearance="legacy">
                                <mat-label>Cupones</mat-label>
                                <input id="input-registros" id="input-registros" type="number" name="gallonA"
                                    formControlName="cupones" matInput>

                                <mat-hint>cupones recibidos</mat-hint><br>
                            </mat-form-field><br>
                        </td>

                        <td id="tr-td-registros">

                            <mat-form-field id="mat-form-field-payment" appearance="legacy">
                                <mat-label>Vouchers</mat-label>
                                <input id="input-registros" id="input-registros" type="number" name="gallonA"
                                    formControlName="vouchers" matInput>

                                <mat-hint>vouchers recibidos</mat-hint><br>
                            </mat-form-field><br>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="3" scope="rowgroup" align="center">

                            <hr id="hrAbonos">
                        </td>
                    </tr>
                    <tr>
                        <td id="tr-td-registros">
                            <mat-form-field id="mat-form-field-payment" appearance="legacy">
                                <mat-label>Depósitos</mat-label>
                                <input id="input-registros" id="input-registros" type="number" name="gallonA"
                                    formControlName="deposits" matInput>

                                <mat-hint>total depositado</mat-hint><br>
                            </mat-form-field><br>
                        </td>

                        <td id="tr-td-registros">
                            <mat-form-field id="mat-form-field-payment" appearance="legacy">
                                <mat-label>Créditos</mat-label>
                                <input id="input-registros" id="input-registros" type="number" name="gallonA"
                                    formControlName="credits" matInput>

                                <mat-hint>crédito otorgado</mat-hint><br>
                            </mat-form-field><br>
                        </td>
                    </tr><br><br>
                    <tr>
                        <td colspan="3" scope="rowgroup" align="center">
                            <button mat-raised-button id="buttonAceptTotalGallons" (click)="getTotalAbono();">Aplicar</button>
                        </td>
                    </tr>
                </table>
            </section>

            <section id="sectionBalance">
                <table id="tablaEncabezado" class="table  table-responsive" class="example-full-width" cellSpacing="0">
                    <tr>
                        <td colspan="3" scope="rowgroup" align="center">
                            <h1>Balance</h1>
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td id="tr-td-registros" colspan="3" scope="rowgroup" align="right">
                            <label id="labelOthers">Total: &nbsp; &nbsp; &nbsp;</label>
                            <mat-form-field id="mat-form-field-othersA" appearance="legacy">
                                <mat-label>Total</mat-label>
                                <input id="input-registros" id="input-registros" type="number" name="gallonA"
                                    formControlName='total' matInput readonly="">

                                <mat-hint>cuadre del día</mat-hint><br>
                            </mat-form-field><br>
                        </td>
                    </tr>
                    <tr>
                        <td id="tr-td-registros" colspan="1" scope="rowgroup" align="left">
                            <label id="labelOthers">Total: &nbsp; &nbsp; &nbsp;</label>
                            <mat-form-field id="mat-form-field-othersA" appearance="legacy">
                                <mat-label>Abonos</mat-label>
                                <input id="input-registros" id="input-registros" type="number" name="gallonA"
                                    formControlName="abonos" matInput>

                                <mat-hint>total de abonos</mat-hint><br>
                            </mat-form-field><br>
                        </td>
                    </tr>
                    <tr>
                        <td id="tr-td-registros" colspan="3" scope="rowgroup" align="right">
                            <label id="labelOthers">Saldo: &nbsp; &nbsp; &nbsp;</label>
                            <mat-form-field id="mat-form-field-othersA" appearance="legacy">
                                <mat-label>Saldo</mat-label>
                                <input id="input-registros" id="input-registros" type="number" name="gallonA"
                                    formControlName="balance" matInput>

                                <mat-hint>cuadre del día</mat-hint><br>
                            </mat-form-field><br>
                        </td>
                    </tr><br><br>
                    <tr>
                        <td colspan="3" scope="rowgroup" align="center">
                            <button mat-raised-button id="buttonAceptTotalGallons" (click)="saveSalesControl();">Aceptar</button>
                        </td>
                    </tr>
                </table>
            </section>
        </form>
    </div>
</body>