<app-cuadres-navbar></app-cuadres-navbar>

<body>
    <div class="contenedor">
        <form class="formulario" [formGroup]="salesControlForm" class="mat-elevation-z8">
            <h1>Control de Cuadre Diario</h1><br>
            <hr>
            <div>
                <table id="tablaEncabezado" class="table  table-responsive" class="example-full-width" cellSpacing="0">
                    <br>
                    <tr>

                        <td id="parametrosPrincipales">
                            <div>
                                <label id="label1">Seleccione Fecha : &nbsp; &nbsp; &nbsp;</label>
                                <mat-form-field id="mat-form-field-registros" id="matFiel-heards" color="accent"
                                    appearance="fill">
                                    <input id="input-registros" formControlName="readingDate" required matInput
                                        [matDatepicker]="readingDate">
                                    <mat-datepicker-toggle [for]="readingDate" matSuffix></mat-datepicker-toggle>
                                    <mat-datepicker #readingDate></mat-datepicker>
                                </mat-form-field>
                            </div><br>
                            <div>
                                <button mat-raised-button color="primary" id="buttonDate">Aperturar</button>
                            </div>
                            <br>
                        </td>

                        <td>
                            <mat-form-field id="mat-form-field-registros" id="mat-form-field-registros"
                                appearance="legacy">

                                <mat-label>Número de Documento:</mat-label>

                                <input id="input-registros" id="input-registros" type="number" name="gallonA"
                                    formControlName="noDocument" matInput>
                                <mat-icon matPrefix>numbers</mat-icon>
                                <mat-hint>Número de documento del día</mat-hint><br>
                            </mat-form-field><br>
                        </td>
                    </tr>

                </table>
            </div>
            <hr>
            <h1>Precios Actuales</h1><br>

            <table id="tablaEncabezado" class="table  table-responsive" class="example-full-width" cellSpacing="0"><br>
                <tr>
                    <td id="tr-td-registros">
                        <label id="labelPrecios">Precio del Regular &nbsp; &nbsp; &nbsp;</label>
                        <mat-form-field id="mat-form-field-prices" appearance="legacy">
                            <mat-label>Precio Actual</mat-label>
                            <input id="input-registros" id="input-registros" type="number" name="gallonA"
                                formControlName="regularPrice" matInput>

                            <mat-hint>precio en valla</mat-hint><br>
                        </mat-form-field><br>
                    </td>

                    <td id="tr-td-registros">
                        <label id="labelPrecios">Precio del Super &nbsp; &nbsp; &nbsp;</label>
                        <mat-form-field id="mat-form-field-prices" appearance="legacy">
                            <mat-label>Precio Actual</mat-label>
                            <input id="input-registros" id="input-registros" type="number" name="gallonA"
                                formControlName="superPrice" matInput readonly=" ">

                            <mat-hint>precio en valla</mat-hint><br>
                        </mat-form-field><br>
                    </td>

                    <td id="tr-td-registros">
                        <label id="labelPrecios">Precio del Diesel &nbsp; &nbsp; &nbsp;</label>
                        <mat-form-field id="mat-form-field-prices" appearance="legacy">
                            <mat-label>Precio Actual</mat-label>
                            <input id="input-registros" id="input-registros" type="number" name="gallonA"
                                formControlName="dieselPrice" matInput readonly=" ">

                            <mat-hint>precio en valla</mat-hint><br>
                        </mat-form-field><br>
                    </td>
                </tr>
            </table>

            <hr>
            <h1>Galones Vendidos</h1><br>
            <table id="tablaEncabezado" class="table  table-responsive" class="example-full-width" cellSpacing="0"><br>
                <tr>
                    <td id="tr-td-registros">
                        <label id="labelPrecios">Venta de Regular &nbsp; &nbsp; &nbsp;</label>
                        <mat-form-field id="mat-form-field-prices" appearance="legacy">
                            <mat-label>Cantidad</mat-label>
                            <input id="input-registros" id="input-registros" type="number" name="gallonA"
                                formControlName="regularPrice" matInput>

                            <mat-hint>galones vendidos</mat-hint><br>
                        </mat-form-field><br>
                    </td>

                    <td id="tr-td-registros">
                        <label id="labelPrecios">Venta de Super &nbsp; &nbsp; &nbsp;</label>
                        <mat-form-field id="mat-form-field-prices" appearance="legacy">
                            <mat-label>Cantidad</mat-label>
                            <input id="input-registros" id="input-registros" type="number" name="gallonA"
                                formControlName="superPrice" matInput readonly=" ">

                            <mat-hint>galones vendidos</mat-hint><br>
                        </mat-form-field><br>
                    </td>

                    <td id="tr-td-registros">
                        <label id="labelPrecios">Venta de Diesel &nbsp; &nbsp; &nbsp;</label>
                        <mat-form-field id="mat-form-field-prices" appearance="legacy">
                            <mat-label>Cantidad</mat-label>
                            <input id="input-registros" id="input-registros" type="number" name="gallonA"
                                formControlName="dieselPrice" matInput readonly=" ">
                            <mat-hint>galones vendidos</mat-hint><br>
                        </mat-form-field><br>
                    </td>

                </tr><br><br>
                <tr>
                    <td colspan="3" scope="rowgroup" align="center">
                        <button mat-raised-button id="buttonAceptTotalGallons">Confirmar venta de galones</button>
                    </td>
                </tr>
            </table>
            <hr>

            <section id="sectionAcumulativo">
                <table id="tablaEncabezado" class="table  table-responsive" class="example-full-width" cellSpacing="0">
                    <tr>
                        <td colspan="3" scope="rowgroup" align="center">
                            <h1>Acumulativo</h1>
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td id="tr-td-registros">
                            <label id="labelPrecios">Acumulativo Regular &nbsp; &nbsp; </label>
                            <mat-form-field id="mat-form-field-prices" appearance="legacy">
                                <mat-label>Acumulativo</mat-label>
                                <input id="input-registros" id="input-registros" type="number" name="gallonA"
                                    formControlName="regularPrice" matInput>

                                <mat-hint>acumulativo del mes</mat-hint><br>
                            </mat-form-field><br>
                        </td>
                    </tr>

                    <tr>
                        <td id="tr-td-registros">
                            <label id="labelPrecios">Acumulativo Super &nbsp; &nbsp; &nbsp;</label>
                            <mat-form-field id="mat-form-field-prices" appearance="legacy">
                                <mat-label>Acumulativo</mat-label>
                                <input id="input-registros" id="input-registros" type="number" name="gallonA"
                                    formControlName="regularPrice" matInput>

                                <mat-hint>acumulativo del mes</mat-hint><br>
                            </mat-form-field><br>
                        </td>
                    </tr>

                    <tr>
                        <td id="tr-td-registros">
                            <label id="labelPrecios">Acumulativo Diesel &nbsp; &nbsp; &nbsp;</label>
                            <mat-form-field id="mat-form-field-prices" appearance="legacy">
                                <mat-label>Acumulativo</mat-label>
                                <input id="input-registros" id="input-registros" type="number" name="gallonA"
                                    formControlName="regularPrice" matInput>

                                <mat-hint>acumulativo del mes</mat-hint><br>
                            </mat-form-field><br>
                        </td>
                    </tr>
                </table>
            </section>
            <section id="section1">
                <table id="tablaEncabezado" class="table  table-responsive" class="example-full-width" cellSpacing="0">
                    <tr>
                        <td colspan="3" scope="rowgroup" align="center">
                            <h1>Abonos</h1>
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td id="tr-td-registros">
                            <button  id="buttonOthers" mat-raised-button><label id="labelOthers"> &nbsp; &nbsp; &nbsp; Asignar<mat-icon>attach_money</mat-icon></label></button>
                            
                            <mat-form-field id="mat-form-field-others" appearance="legacy">
                                <mat-label>Gastos</mat-label>
                                <input id="input-registros" id="input-registros" type="number" name="gallonA"
                                    formControlName="regularPrice" matInput>

                                <mat-hint>gatos generados</mat-hint><br>
                            </mat-form-field><br>
                        </td>

                        <td id="tr-td-registros">
                            <button id="buttonOthers" mat-raised-button><label id="labelOthers"><mat-icon>card_giftcard</mat-icon> &nbsp; &nbsp; &nbsp; Asignar</label></button>
                            
                            <mat-form-field id="mat-form-field-others" appearance="legacy">
                                <mat-label>Vales</mat-label>
                                <input id="input-registros" id="input-registros" type="number" name="gallonA"
                                    formControlName="regularPrice" matInput>

                                <mat-hint>vales recibidos</mat-hint><br>
                            </mat-form-field><br>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="3" scope="rowgroup" align="center">
                           
                            <hr id="hrAbonos">
                        </td>
                    </tr>
                    
                    <tr>
                        <td id="tr-td-registros">
                            <button  id="buttonOthers" mat-raised-button><label id="labelOthers"><mat-icon>event_note</mat-icon> &nbsp; &nbsp; &nbsp; Asignar</label></button>
                            
                            <mat-form-field id="mat-form-field-others" appearance="legacy">
                                <mat-label>Cupones</mat-label>
                                <input id="input-registros" id="input-registros" type="number" name="gallonA"
                                    formControlName="regularPrice" matInput>

                                <mat-hint>cupones recibidos</mat-hint><br>
                            </mat-form-field><br>
                        </td>

                        <td id="tr-td-registros">
                            <button id="buttonOthers" mat-raised-button> <label id="labelOthers"><mat-icon>chrome_reader_mode</mat-icon> &nbsp; &nbsp; &nbsp; Asignar</label></button>
                           
                            <mat-form-field id="mat-form-field-others" appearance="legacy">
                                <mat-label>Vouchers</mat-label>
                                <input id="input-registros" id="input-registros" type="number" name="gallonA"
                                    formControlName="regularPrice" matInput>

                                <mat-hint>vouchers recibidps</mat-hint><br>
                            </mat-form-field><br>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="3" scope="rowgroup" align="center">
                           
                            <hr id="hrAbonos">
                        </td>
                    </tr>
                    <tr>
                        <td id="tr-td-registros">
                            <button id="buttonOthers" mat-raised-button><label id="labelOthers"><mat-icon>account_balance</mat-icon> &nbsp; &nbsp; &nbsp; Asignar</label></button>
                           
                            <mat-form-field id="mat-form-field-others" appearance="legacy">
                                <mat-label>Depósitos</mat-label>
                                <input id="input-registros" id="input-registros" type="number" name="gallonA"
                                    formControlName="regularPrice" matInput>

                                <mat-hint>total depositado</mat-hint><br>
                            </mat-form-field><br>
                        </td>

                        <td id="tr-td-registros">
                            <button  id="buttonOthers" mat-raised-button>   <label id="labelOthers"><mat-icon>currency_exchange</mat-icon> &nbsp; &nbsp; &nbsp; Asignar</label></button>
                          
                            <mat-form-field id="mat-form-field-others" appearance="legacy">
                                <mat-label>Créditos</mat-label>
                                <input id="input-registros" id="input-registros" type="number" name="gallonA"
                                    formControlName="regularPrice" matInput>

                                <mat-hint>crédito otorgado</mat-hint><br>
                            </mat-form-field><br>
                        </td>
                    </tr><br><br>
                    <tr>
                        <td colspan="3" scope="rowgroup" align="center">
                            <button mat-raised-button id="buttonAceptTotalGallons">Aceptar</button>
                        </td>
                    </tr>
                </table>

                <section id="sectionBalance">
                    <table id="tablaEncabezado" class="table  table-responsive" class="example-full-width"
                        cellSpacing="0">
                        <tr>
                            <td colspan="3" scope="rowgroup" align="center">
                                <h1>Balance</h1>
                                <hr>
                            </td>
                        </tr>
                        <tr>
                            <td id="tr-td-registros" colspan="3" scope="rowgroup" align="right">
                                <label id="labelOthers">Total: &nbsp; &nbsp; &nbsp;</label>
                                <mat-form-field id="mat-form-field-othersA" appearance="legacy">
                                    <mat-label>Total</mat-label>
                                    <input id="input-registros" id="input-registros" type="number" name="gallonA"
                                        formControlName="regularPrice" matInput>

                                    <mat-hint>cuadre del día</mat-hint><br>
                                </mat-form-field><br>
                            </td>
                        </tr>
                        <tr>
                            <td id="tr-td-registros">
                                <label id="labelOthers">Total: &nbsp; &nbsp; &nbsp;</label>
                                <mat-form-field id="mat-form-field-prices" appearance="legacy">
                                    <mat-label>Acumulativo</mat-label>
                                    <input id="input-registros" id="input-registros" type="number" name="gallonA"
                                        formControlName="regularPrice" matInput>
    
                                    <mat-hint>acumulativo del mes</mat-hint><br>
                                </mat-form-field><br>
                            </td>
                        </tr>
                        <tr>
                            <td id="tr-td-registros" colspan="3" scope="rowgroup" align="right">
                                <label id="labelOthers">Saldo: &nbsp; &nbsp; &nbsp;</label>
                                <mat-form-field id="mat-form-field-othersA" appearance="legacy">
                                    <mat-label>Saldo</mat-label>
                                    <input id="input-registros" id="input-registros" type="number" name="gallonA"
                                        formControlName="regularPrice" matInput>

                                    <mat-hint>cuadre del día</mat-hint><br>
                                </mat-form-field><br>
                            </td>
                        </tr><br><br>
                        <tr>
                            <td colspan="3" scope="rowgroup" align="center">
                                <button mat-raised-button id="buttonAceptTotalGallons">Aceptar</button>
                            </td>
                        </tr>
                    </table>
                </section>


            </section>
        </form>
    </div>
</body>