body {
    min-height: 100%;
    min-width: none;
    min-height: 100vh;
    width: 100% !important;
}

form {
    width: 100%;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    min-height: 100vh;
    background-color: white;
}

@media (max-width:100%) {
    form {
        width: 100%;
    }

}


h1 {
    font-size: 30px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 5px;
    width: 100% !important;
    background-color: #21618C;
    color: white;
}


hr {
    color: purple;
    height: 10px;
    background-color: aquamarine;
    width: 100% !important;


}

#mat-form-field-prices {
    margin-top: auto;
    margin-bottom: 105px;
    width: 100% !important;

}

#mat-form-field-sale {
    margin-top: auto;
    margin-bottom: 25px;
    width: 100% !important;
}

#mat-form-field-accumulated {
    margin-top: auto;
    margin-bottom: 25px;
    width: 100% !important;
}

#mat-form-field-payment {
    margin-top: auto;
    margin-bottom: 25px;
    width: 100% !important;
}

#mat-form-field-othersA {
    margin-top: auto;
    margin-bottom: 25px;
    width: 50% !important;
}

#buttonSaleRegular {
    margin-bottom: 25px;
    width: 100% !important;
    display: flex;
    flex-wrap: wrap;
    background-color: #884EA0;
}

#buttonSaleSuper {
    margin-bottom: 25px;
    width: 100% !important;
    display: flex;
    flex-wrap: wrap;
    background-color: #148F77;
}

#buttonSaleDiesel {
    margin-bottom: 25px;
    width: 100% !important;
    display: flex;
    flex-wrap: wrap;
    background-color: #5DADE2;
}

#buttonDate {
    background-color: #566573;
    display: flex;
    width: 100% !important;
    right: 0px;
    color: white;
    font-size: 120%;
    justify-content: center;
}

#saveButton{
    background-color: #2ECC71;
    font-size: 120%;
    width: 100% !important;
}


.row {
    display: flex;
}

.column {
    flex: 50%;
}

#sectionActulaPrice {
    border: 1px solid #000;
    padding: 10px 20px;
    width: 100% !important;
   
}

#sectionSale {
    border: 1px solid #000;
    padding: 10px 20px;
    width: 100% !important;
}

#accumulated {
    border: 1px solid #000;
    padding: 10px 20px;
    width: 100% !important;
}

#abono {
    border: 1px solid #000;
    padding: 10px 20px;
    width: 100% !important;
}

#balance {
    border: 1px solid #000;
    padding: 10px 20px;
    width: 100% !important;
}