
<app-sidebar [userName]="userName"></app-sidebar>
<body class="main-bg">
  

    <div class="login-container text-c animated flipInX">
        
            
        <div class="container-content">
            <form class="margin-t"
                  autocomplete="off"
                  [formGroup]="loginForm"
                  (ngSubmit)="login()">

                  <div>
            
                    <h1 class="logo-badge text-whitesmoke"> <img class="logo" src="../../../assets/images/shell_logo.jpg" alt="" ></h1>
                </div>
                
                    <h3 class="text-whitesmoke">Shell Lupita</h3>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email"  formControlName="email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="*****"  formControlName="password">
                </div>
                <button type="submit" class="form-button button-l margin-b">Login</button>
    
               
            </form>
            <p class="margin-t text-whitesmoke"><small> kzi Systems &copy; 2022</small> </p>
        </div>
    </div>


</body>
