body {
    min-height: 100%;
    min-width: none;
    min-height: 100vh;
    width: 100% !important;
}

form {
    width: 100%;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    min-height: 100vh;
    background-color: white;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

h2{
    font-size: 30px;
    margin-top: 15%;
}

#inventarioSection {
    border: 1px solid #000;
    padding: 10px 20px;
    width: 100% !important;
    background-color: #329B9B;
    
}

#trEncabezado {
    background-color: aqua;
    text-align: center;
    
}
.div{
    text-align:center;
    display: flex;
    justify-content: center;
}