<h3 mat-dialog-title>
    <mat-icon>sync</mat-icon>&nbsp; "Editar Isla"
</h3>
<hr>

<div mat-dialog-content>

    <form [formGroup]="updateIslandForm">

        <mat-form-field appearance="legacy">
            <mat-label>Número de Isla:</mat-label>
            <input type="number" id="fName" formControlName="islandNumber" matInput>
            <mat-icon matSuffix> local_gas_station</mat-icon>
            <mat-hint></mat-hint>
        </mat-form-field>


        <div mat-dialog-actions [align]="'end'">
            <button mat-raised-button color="warn" mat-dialog-close>
                <mat-icon>close</mat-icon>&nbsp; Cerrar
            </button>
            <button mat-raised-button color="primary" (click)="updateIsland();">
                <mat-icon>save</mat-icon> &nbsp; Guardar
            </button>
        </div>

        <br><br><br>
    </form>

</div>