
<body>
    <div class="contenedor">
        <form class="formulario" [formGroup]="purchaseForm" class="mat-elevation-z8">
            <h3 id="titulo">
                <mat-icon> local_offer</mat-icon> Pago de Factura
            </h3>
            <hr>
            <table id="tablaEncabezado" class="table  table-responsive" class="example-full-width" cellSpacing="0">
                <tr>
                    <td>
                        <mat-form-field id="mat-form-field-registros" id="mat-form-field-registros" appearance="legacy">
                            <mat-label>Número de Orden</mat-label>
                            <input id="input-registros" id="input-registros" type="text" id="fName"
                                formControlName="orderNumber" matInput>
                            <mat-hint>Ingrese número de orden</mat-hint><br>
                        </mat-form-field><br>
                        <button id="btnFindorder" mat-raised-button color="primary"
                            (click)="findOrder();">Buscar</button>
                    </td>
                </tr>
            </table><br>

            <table id="tablaEncabezado" class="table  table-responsive" class="example-full-width" cellSpacing="0">
               
                <tr>
                    <td id="tdTotal">
                        <label for="exampleInputEmail1">Fecha de Orden</label>
                        <input type="text" class="form-control" aria-describedby="emailHelp" formControlName="orderDate"
                            readonly="">
                    </td>

                    <td id="tdTotal">
                        <label for="exampleInputEmail1">Fecha de Despacho</label>
                        <input type="text" class="form-control" aria-describedby="emailHelp"
                            formControlName="deliveryDate" readonly="">
                    </td>

                    <td id="tdTotal">
                        <label for="exampleInputEmail1">Planta</label>
                        <input type="text" class="form-control" aria-describedby="emailHelp" formControlName="storeId"
                            readonly="">
                    </td>

                    <td id="tdTotal">
                        <label for="exampleInputEmail1">Vehículo</label>
                        <input type="text" class="form-control" aria-describedby="emailHelp" formControlName="vehicleId"
                            readonly="">
                    </td>

                </tr>
                <tr>
                    <td id="tdTotal">
                        <label for="exampleInputEmail1">Serie de Factura</label>
                        <input type="text" class="form-control" aria-describedby="emailHelp"
                            formControlName="invoiceSerie"  readonly="">
                    </td>
                    <td id="tdTotal">
                        <label for="exampleInputEmail1">Número de Factura</label>
                        <input type="text" class="form-control" aria-describedby="emailHelp"
                            formControlName="invoiceDocument"  readonly="">
                    </td>
                </tr>

                <tr>
                    <div class="row mb-12">
                        
                      

                        
                        <div class="col-sm-12">
                               
                           
                            <label for="exampleInputEmail1">Fecha de Vencimiento</label>
                            <input type="text" class="form-control" aria-describedby="emailHelp"
                                formControlName="expirationDate" readonly="">
                        
                    </div>
                    </div>
                </tr>
            </table>
            <br>
            <label>
                <H1> Detalle de Pagos</H1>
            </label>
            <table id="tablaEncabezado" class="table  table-responsive" class="example-full-width" cellSpacing="0">
                <tr>
                     <td>
                        <label for="exampleInputEmail1">Nombre de banco</label><br>
                        <mat-form-field id="mat-form-field-formaPago" appearance="fill">
                            <mat-icon matSuffix> local_gas_station</mat-icon>
                            <mat-select formControlName="bankId" required>
                                <mat-option *ngFor="let bank of banks" [value]="bank.bankId">
                                    {{bank.bankName | titlecase}}
                                </mat-option>
                            </mat-select>
                            <mat-error>Por favor seleccione banco</mat-error>
                            <mat-hint></mat-hint>
                        </mat-form-field>
                     </td>
                     <td>
                        <label for="exampleInputEmail1">Número de cheque</label>
                        <input type="text" class="form-control" aria-describedby="emailHelp"
                            formControlName="NoBankCheck" placeholder="123456...">
                     </td>
                     <td>
                        <label for="exampleInputEmail1">Monto de cheque</label>
                        <input type="text" class="form-control" aria-describedby="emailHelp"
                            formControlName="checkAmount" placeholder="Q. 0.00">
                     </td>
                </tr>
                <td>
                    <label for="exampleInputEmail1">Otro pago</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp"
                        formControlName="otherPayment" placeholder="Q. 0.00 ">
                 </td>

                 <td>
                    <label for="exampleInputEmail1">Descripión</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp"
                        formControlName="otherPaymentDescription" placeholder="Descripción otro pago">
                 </td>

                 <td>
                    <label for="exampleInputEmail1">En cupones</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp"
                        formControlName="couponsAmount" placeholder="Q. 0.00">
                 </td>
                <tr>

                </tr>
            </table>
           <br>
            <H1> Detalle de Combustibles</H1>
            <div>
                <section id="sectionDetail"><br>
                    <table id="tablaEncabezado" class="table  table-responsive" class="example-full-width"
                        cellSpacing="0">
                        <thead>
                           <tr id="trtbl">
                             
                            <th scope="col"> <u>Combustible</u></th>
                            <th scope="col"><u> Cantidad</u></th>
                            <th scope="col"><u> Idp</u></th>
                            <th scope="col"> <u>Total</u></th>
                           </tr>
                            
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of ditailOrder" id="tbltr2">
                             
                                <td>{{data.fuelId.fuelName}} {{data.fuelId.fuelId}}</td>
                                <td>{{data.amount}}</td>
                                <td>{{data.idpTotal}}</td>
                                <td>{{data.total}}</td>
                               
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <table class="table  table-responsive" class="example-full-width" style="width:100%"
                        cellSpacing="0">
                        <thead>
                            <th id="tdTotal" cope="col" colspan="2" align="right" style="width:100%"> <u>Total</u></th>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="tdTotal">
                                    <input id="input-registros" id="input-registros" type="number" name="gallonA"
                                        formControlName="totalPurchase" matInput>
                                </td>
                            </tr>
                            <hr>
                            <tr>
                                <td id="tdTotal">

                                    <button  *ngIf="btnSave" mat-raised-button color="primary" (click)="savePurchase();" id="btnSave">Aplicar Compra</button>
                                    <button  *ngIf="btnsaveSuper" mat-raised-button color="primary" (click)="saveSuper();" id="btnSuper">Super</button>
                                    <button  *ngIf="btnsaveRegular" mat-raised-button color="primary" (click)="saveRegular();" id="btnRegular">Regular</button>
                                    <button  *ngIf="btnsaveDiesel" color="primary" (click)="saveDiesel();" id="btnDiesel">Diesel</button>
                                    <button  *ngIf="btnLoad" mat-raised-button color="info" (click)="loadFuels();" id="btnload">Descargar Combustibles</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </div>
        </form>
    </div>
</body>