
  <mat-toolbar id="classTolbar">
   
    <a href="/#/dashboard"><span><img  class="logo" src="../../../assets/images/logoShell.jpeg" alt=""></span></a>
    <span class="example-spacer"></span>
    <div class="wrap">
       
          
        <span>{{date| date}} {{hour | date:'hh:mm:ss'}}  - </span>&nbsp; 
           
        
       
      </div>
    <span> Hola, {{user.firstName | titlecase}}   {{user.lastName|titlecase}}</span> &nbsp;

    <span class="fill-remaining-space">
        <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()">
          <mat-icon>perm_identity</mat-icon>
        </button>
        <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <span (mouseleave)="menuTrigger.closeMenu()">
          <label>
            <span><mat-icon>alternate_email</mat-icon></span>
            <span>  {{user.email}}</span>
          </label>

          <label>
            <span><mat-icon>verified_user</mat-icon></span>
            <span>{{user.firstName}}, eres un {{user.roleId}}</span>
          </label>
      <button  id="btnpass" mat-menu-item (click)="openDialogUpdatePass(element);"> 
            <mat-icon> vpn_key</mat-icon>
            <span>Cambiar Contraseña</span>
          </button>
      <button id="btnlogout" mat-menu-item (click)="logout();">
        <mat-icon>power_settings_new</mat-icon>
            <span>Logout</span>
          </button>
      </span>
      </mat-menu>
      </span>
     
    
  </mat-toolbar>