

table{
  width: 100%;
}



.fa-solid {
    cursor: pointer;
}

th {
    background-color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
    font-size : 20px;
    color: white
}

td{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
}


