<body>
  <div class="contenedor" class="mat-elevation-z8">

    <h1>Listado de Combustibles</h1>
    <hr>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div style="margin-top: 10px ;">



          <table mat-table [dataSource]="fuels" class="mat-elevation-z8">

            <!-- Nombre de combustible -->
            <ng-container matColumnDef="fuelName">
              <th id="encabezado" mat-header-cell *matHeaderCellDef> Combustible </th>
              <td mat-cell *matCellDef="let element"> {{element.fuelName | titlecase}} </td>
            </ng-container>

            <!-- IDP combustible -->
            <ng-container matColumnDef="idpAmount">
              <th id="encabezado" mat-header-cell *matHeaderCellDef> IDP </th>
              <td mat-cell *matCellDef="let element"> {{element.taxesId?.idpAmount}} </td>
            </ng-container>

            <!-- Precio costo -->
            <ng-container matColumnDef="costPrice">
              <th id="encabezado" mat-header-cell *matHeaderCellDef> Precio Costo </th>
              <td mat-cell *matCellDef="let element"> {{element.costPrice}}</td>
            </ng-container>

            <!-- Precio publico -->
            <ng-container matColumnDef="salePrice">
              <th id="encabezado" mat-header-cell *matHeaderCellDef> Precio Público </th>
              <td mat-cell *matCellDef="let element"> {{element.salePrice}} </td>
            </ng-container>

            <!-- Position Status -->
            <ng-container matColumnDef="statusId">
              <th id="encabezado" mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element"> {{element.statusId.statusName | titlecase}} </td>
            </ng-container>

            <!-- Position Status -->
            <ng-container matColumnDef="accions">
              <th id="encabezado" mat-header-cell *matHeaderCellDef> Acciones </th>
              <td mat-cell *matCellDef="let element">
                <button mat-flat-button color="primary" (click)="openDialogUpdate(element);">
                  <mat-icon>edit</mat-icon>Editar
                </button> &nbsp;
                <button mat-raised-button color="accent" (click)="openDialog(element);">
                  <mat-icon>cached</mat-icon> Precios
                </button> &nbsp;
                <button mat-raised-button color="warn" (click)="openDialogDelete(element);">
                  <mat-icon>delete_forever</mat-icon>Eliminar
                </button>

              </td>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let row; columns: columns;"></tr>


          </table>


        </div>
      </div>

    </div>

  </div>
</body>