<h3 mat-dialog-title ><mat-icon>sync</mat-icon>&nbsp; "Editar Combustible"</h3>
<hr>

<div mat-dialog-content>

    <form [formGroup]="updateFuelTankForm">

        <mat-form-field appearance="legacy">
            <mat-label>Nombre del Tanque:</mat-label>
            <input  id="fName"formControlName="tankName" matInput>
            <mat-icon matSuffix> local_gas_station</mat-icon>
            <mat-hint>Ingrese nuevo nombre</mat-hint>
          </mat-form-field><br><br>

        <mat-form-field appearance="outline">     
            <mat-label>Capacidad de Almacenaje</mat-label>
            <input type="number" formControlName="maxStorage" matInput  placeholder="Nueva capacidad" >
            <mat-icon matSuffix>opacity</mat-icon>
            <mat-hint>Ingrese nueva capacidad</mat-hint>      
        </mat-form-field><br><br>
    
        <mat-form-field appearance="fill">
            <mat-label>Status</mat-label>
            <mat-select formControlName="fuelId" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let fuels of selectedFuel" [value]="fuels.fuelId">
                {{fuels.fuelName | titlecase}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="updateFuelTankForm.hasError('required')">Por favor escoja una opción</mat-error>
            <mat-hint>{{updateFuelTankForm.value?.sound}}</mat-hint>
          </mat-form-field>
 
        <mat-form-field appearance="fill">
            <mat-label>Status</mat-label>
            <mat-select formControlName="statusId" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let status of selectedStatus" [value]="status.statusId">
                {{status.statusName | titlecase}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="updateFuelTankForm.hasError('required')">Por favor escoja una opción</mat-error>
            <mat-hint>{{updateFuelTankForm.value?.sound}}</mat-hint>
          </mat-form-field>
    
    <div mat-dialog-actions [align]="'end'">
        <button mat-raised-button color="warn" mat-dialog-close>
            <mat-icon>close</mat-icon>&nbsp; Cerrar</button>
        <button mat-raised-button color="primary" (click)="updateFuelTank();">
            <mat-icon>save</mat-icon> &nbsp; Guardar</button>
    </div>

<br><br><br>
    </form>

</div>