
<body>
  <div class="contenedor" class="mat-elevation-z8">
   
      <h1>Mangueras</h1>
      <hr>
      <div  class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">

          <table mat-table [dataSource]="hoses" class="mat-elevation-z8">
          
            
            <ng-container matColumnDef="hoseColor">
              <th mat-header-cell *matHeaderCellDef> Color de Manguera </th>
              <td mat-cell *matCellDef="let element"> {{element.hoseColor | titlecase}} </td>
            </ng-container>

            
            <ng-container matColumnDef="fuelId">
                <th mat-header-cell *matHeaderCellDef> Combustible </th>
                <td mat-cell *matCellDef="let element"> {{element.fuelId.fuelName | titlecase}}</td>
              </ng-container>


              <ng-container matColumnDef="statusId">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.statusId.statusName | titlecase}}</td>
              </ng-container>

               
            <ng-container matColumnDef="accions">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element"> 
                    <button mat-flat-button color="primary" (click)="openDialogUpdate(element);"> <mat-icon>edit</mat-icon>Editar</button> &nbsp;
                    <button mat-raised-button color="warn" (click)="openDialogDelete(element);"> <mat-icon>delete_forever</mat-icon>Eliminar</button>

                </td>
              </ng-container>

            
          
              <tr mat-header-row *matHeaderRowDef="columns"></tr>
              <tr mat-row *matRowDef="let row; columns: columns;"></tr>
            
          </table>
        </div>

      </div>
  

  </div>
</body>
