<h3 mat-dialog-title>
    <mat-icon>sync</mat-icon>&nbsp; "Editar Registro"
</h3>
<hr>

<div mat-dialog-content>
    <form [formGroup]="updateDispenserReaderForm">

        <mat-form-field appearance="legacy">
            <mat-label>id</mat-label>
            <input type="text" formControlName="fuelName"  readonly="" matInput>
            <mat-icon matSuffix>local-gas-station</mat-icon>
            <mat-hint></mat-hint>
        </mat-form-field>
        <hr>
        <table>

            <tr>
                <td>
                    <mat-form-field appearance="legacy">
                        <mat-label>id</mat-label>
                        <input type="text" formControlName="dispenserReaderId"  readonly="" matInput>
                        <mat-icon matSuffix>local-gas-station</mat-icon>
                        <mat-hint></mat-hint>
                    </mat-form-field>
                </td>
            </tr>
          
            <tr>

                <td>
                    <mat-form-field appearance="legacy">
                        <mat-label>Numeracíon Galonaje Anterior</mat-label>
                        <input type="text" formControlName="previousNoGallons"  readonly="" matInput>
                        <mat-icon matSuffix>local-gas-station</mat-icon>
                        <mat-hint></mat-hint>
                    </mat-form-field>
                </td>
                
                <td>
                    <mat-form-field appearance="legacy">
                        <mat-label>Numeracíon Galonaje</mat-label>
                        <input type="text" formControlName="actualNoGallons" matInput>
                        <mat-icon matSuffix>local-gas-station</mat-icon>
                        <mat-hint></mat-hint>
                    </mat-form-field>
                </td>
            </tr>

            <tr>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>Numeracíon Mecánica</mat-label>
                        <input id="fName" formControlName="actualNoMechanic" matInput>
                        <mat-icon matSuffix>local-gas-station</mat-icon>
                        <mat-hint></mat-hint>
                    </mat-form-field>
                </td>
            </tr>

            <tr>
                <td>

                    <mat-form-field appearance="fill">
                        <mat-label>Numeracíon Dinero</mat-label>
                        <input id="fName" formControlName="actualNoMoney" matInput>
                        <mat-icon matSuffix>local-gas-station</mat-icon>
                        <mat-hint></mat-hint>
                    </mat-form-field>
    
                </td>
            </tr>

            <tr>
                <div mat-dialog-actions [align]="'end'">
                    <button mat-raised-button color="warn" mat-dialog-close>
                        <mat-icon>close</mat-icon>&nbsp; Cerrar</button>
                    <button mat-raised-button color="primary" (click)="update();">
                        <mat-icon>save</mat-icon> &nbsp; Guardar</button>
                </div>
            </tr>
        </table>

    </form>
</div>

<!--
   


       


-->