<app-maintenance-navbar></app-maintenance-navbar>

<div class="container">
    <div style="margin-top: 10px ;">

        <mat-form-field appearance="standard">
            <mat-label>Busqueda</mat-label>
            <input matInput placeholder="Buscar" #input>
          </mat-form-field>
          
          <table mat-table [dataSource]="tank" class="mat-elevation-z8">
          
           
            <ng-container matColumnDef="tankName">
              <th mat-header-cell *matHeaderCellDef> Nombre del Tanque </th>
              <td mat-cell *matCellDef="let element"> {{element.tankName | titlecase}} </td>
            </ng-container>

            
            <ng-container matColumnDef="maxStorage">
                <th mat-header-cell *matHeaderCellDef> Capacidad de  Almacenaje </th>
                <td mat-cell *matCellDef="let element"> {{element.maxStorage | number}}</td>
              </ng-container>

              <ng-container matColumnDef="gallonsStoraged">
                <th mat-header-cell *matHeaderCellDef> Alamacenaje Disponible </th>
                <td mat-cell *matCellDef="let element"> {{element.gallonsStoraged | number}}</td>
              </ng-container>

              <ng-container matColumnDef="fuelId">
                <th mat-header-cell *matHeaderCellDef> Combustible </th>
                <td mat-cell *matCellDef="let element"> {{element.fuelId.fuelName | titlecase}}</td>
              </ng-container>


              <ng-container matColumnDef="statusId">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.statusId.statusName  | titlecase}}</td>
              </ng-container>

               
            <ng-container matColumnDef="accions">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element"> 
                    <button mat-flat-button color="primary" (click)="openDialogUpdate(element);"> <mat-icon>edit</mat-icon>Editar</button> &nbsp;
                    <button mat-raised-button color="warn" (click)="openDialogDelete(element);"> <mat-icon>delete_forever</mat-icon>Eliminar</button>

                </td>
              </ng-container>

            
          
              <tr mat-header-row *matHeaderRowDef="columns"></tr>
              <tr mat-row *matRowDef="let row; columns: columns;"></tr>
            


            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
          </table>
          

    </div>
</div>