body {
    min-height: 200vh;
    min-width: none;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

#tableData {
    position: relative;
    top: 20px;
    width: 80%;
    margin: 0 auto;
    border: 1px solid;

}
#border-header-table-data {
    background-color: aqua;
    text-align: center;
    border: 1px solid;
}

td{
   text-align: center;
}

#btnDelete{
    display:block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 20px;
    background: black;
    padding: 20px;
    padding-left: 5%;
    color: white;
    font-size: 25px;
    width: 25% !important;
    
}
hr {
    color: purple;
    height: 10px;
    background-color: aquamarine;
   

}

#sectionFuel {
    border: 1px solid #000;
    padding: 10px 20px;
    width: 100% !important;
    font-size: 100%;
    background-color: #329B9B;
}

#bnt{
    display:block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 20px;
    width: 30%;
    background-color: #B40000;
    font-size: 100%;
    color: #EAFAF1;
    
}
