mat-sidenav-container {
    height: calc(205vh - 110vh);
}

mat-sidenav {
    width: 200px;
    background-color: black;

}

mat-list{
    color: red;
    background-color: black;

   
}

a{
    color: white;
}
#a{
    color: black;
    
}
h1{
    color: white;
}

#hr2{
    border: 1px solid red;
    margin-left: 0%;
    margin-right: 50%;
}

hr {
    border: 1px solid red;
}

mat-toolbar {
    background-color: black ;
    color: white;
}


.wrap{
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.widget {
    width: 100%;
    margin: auto;
}


.widget p {
    display: inline-block;
    line-height: 1em;
}

.date {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1rem;
    padding: 20px;
    width: 100%;
    color: #7F0A02;
    background-color: black;
}

#divSec {
    background: black;
}