<body>
  <mat-toolbar>
    <mat-toolbar-row>
      <h4>Shell Lupita </h4>

    </mat-toolbar-row>


  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="side">

      <hr>
      <h1>Módulos</h1>
      <hr id="hr2">
      <!-- boton de mantenumientos-->
      <mat-list>
        <mat-list-item><a routerLink="/dashboard/maintenances">
            <mat-icon>settings</mat-icon> Mantenimiento
          </a></mat-list-item>
      </mat-list>

      <!--boton para cuadres-->
      <mat-list>
        <mat-list-item><a routerLink="/dashboard/cuadres">
            <mat-icon>attach_money</mat-icon> Cuadres
          </a></mat-list-item>
      </mat-list>

      <!--boton para compras-->
      <mat-list>
        <mat-list-item><a routerLink="/dashboard/compras">
            <mat-icon>shopping_cart</mat-icon> Compras
          </a></mat-list-item>
      </mat-list>

      <!--boton para inventario-->
      <mat-list>
        <mat-list-item><a routerLink="/dashboard/inventario">
            <mat-icon>shopping_cart</mat-icon> Inventario
          </a></mat-list-item>
      </mat-list>

      <!--boton para Reporteria-->

      <hr>
      <div id="tree">
        <h1>Reporteria</h1>
      <hr id="hr2">
      
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node  *matTreeNodeDef="let node" matTreeNodePadding>
          <!-- use a disabled button to provide padding for tree leaf -->
          <button mat-icon-button disabled></button>
          <a id="aTree" routerLink={{node.url}}>
            {{node.name}}</a>
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
          <button mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          <a id="aTree" >
            {{node.name}}</a>
        </mat-tree-node>
      </mat-tree>
      </div>
      <footer>
        <div class="wrap">
          <div class="widget">
            <div class="date">
              <p id="week" class="dayWeek ">{{date| date}} </p>
              <p id="hours" class="hours "> {{hour | date:'hh:mm:ss'}}</p>
            </div>
          </div>
        </div>
      </footer>

    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>

    </mat-sidenav-content>

  </mat-sidenav-container>
</body>