<body>
  <mat-toolbar>
    <mat-toolbar-row>
      <h4>Shell Lupita </h4>
    
    </mat-toolbar-row>


  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="side">

      <hr>
      <h1>Módulos</h1>
      <hr id="hr2">
      <!-- boton de mantenumientos-->
      <mat-list>
        <mat-list-item><a routerLink="/dashboard/maintenances">
            <mat-icon>settings</mat-icon> Mantenimiento
          </a></mat-list-item>
      </mat-list>

      <!--boton para cuadres-->
      <mat-list>
        <mat-list-item><a routerLink="/dashboard/cuadres">
            <mat-icon>attach_money</mat-icon> Cuadres
          </a></mat-list-item>
      </mat-list>

      <!--boton para compras-->
      <mat-list>
        <mat-list-item><a routerLink="/dashboard/compras">
            <mat-icon>shopping_cart</mat-icon> Compras
          </a></mat-list-item>
      </mat-list>

      <!--boton para inventario-->
      <mat-list>
        <mat-list-item><a routerLink="/dashboard/inventario">
            <mat-icon>shopping_cart</mat-icon> Inventario
          </a></mat-list-item>
      </mat-list>

      <!--boton para Reporteria-->

      <hr>
      <h1>Reporteria</h1>
      <hr id="hr2">

      <mat-list>
        <mat-toolbar>
          <button mat-button [matMenuTriggerFor]="reporting"><h1>Ventas</h1></button>
          <mat-menu id="matMenu" #reporting="matMenu">
            <button mat-menu-item><mat-icon> V</mat-icon><a>Por Fecha</a></button> 
            <button mat-menu-item><mat-icon> P</mat-icon><a routerLink="/dashboard/reporteria/reporteVentasporDocumento">Por No. Documento</a></button> 
            <button mat-menu-item><mat-icon> P</mat-icon><a>Ventas</a></button> 
          </mat-menu>  

          <mat-menu #reporting="matMenu">
            <button mat-menu-item><mat-icon> pss</mat-icon><a>Ventas</a></button> 
          </mat-menu>  
        </mat-toolbar>
      </mat-list>
      

      <mat-list>
        <mat-list-item><a routerLink="/dashboard/reporteriaVentas">
            <mat-icon>shopping_cart</mat-icon> Ventas
          </a>
          
          
        </mat-list-item>
      </mat-list>
      
      <mat-list>
        <mat-list-item><a routerLink="/dashboard/inventario">
            <mat-icon>shopping_cart</mat-icon> Compras
          </a>
        </mat-list-item>
      </mat-list>

      <footer>
        <div class="wrap">
          <div class="widget">
            <div class="date">
              <p id="week" class="dayWeek ">{{date| date}} </p>
              <p id="hours" class="hours "> {{hour | date:'hh:mm:ss'}}</p>
            </div>
          </div>
        </div>
      </footer>

    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>

    </mat-sidenav-content>

  </mat-sidenav-container>
</body>
