
<body>
  <mat-toolbar>   
    <mat-toolbar-row  >
        <h4>Shell Lupita </h4>
        <strong >{{userName}}</strong>
        
    </mat-toolbar-row>
  
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav  [(opened)]="opened" mode="side"> 
     
      <!-- boton de mantenumientos-->
      <mat-list>
        <mat-list-item><a routerLink="/dashboard/maintenances" ><mat-icon>settings</mat-icon> Mantenimiento</a></mat-list-item>
      </mat-list>

      <!--boton para cuadres-->
      <mat-list>
        <mat-list-item><a routerLink="/dashboard/cuadres" ><mat-icon>attach_money</mat-icon> Cuadres</a></mat-list-item>
      </mat-list>

       <!--boton para compras-->
       <mat-list>
        <mat-list-item><a routerLink="/dashboard/compras" ><mat-icon>shopping_cart</mat-icon> Compras</a></mat-list-item>
      </mat-list>

        <!--boton para inventario-->
        <mat-list>
          <mat-list-item><a routerLink="/dashboard/inventario" ><mat-icon>shopping_cart</mat-icon> Inventario</a></mat-list-item>
        </mat-list>
  
      <div class="wrap">
        <div class="widget">
          <div class="date">
            <p id="week" class="dayWeek ">{{date| date}} </p>
            <p id="hours" class="hours "> {{hour | date:'hh:mm:ss'}}</p>
          </div>
        </div>
      </div>
     
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
     
    </mat-sidenav-content>
   
  </mat-sidenav-container>
 
</body>
