
body {
    min-height: 200vh;
    min-width: none;
}

form{
    border: 1px solid #101010;
    border-radius: 10px ;
    padding: 10px;
    width: 90%;
    max-width: 90%;
    margin: auto;
    top: 20%;
   
}

/*
titulo principal
*/
h3{
    font-size: 30px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

label{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}
#label1 {
    text-align: right;
    color: blue;
    font-size: 20px;
}

#matFiel-heards{
    text-align: center;/*centra el valor de los cuadros*/
    font-size: 15px;
}
#tablaEncabezado {
    width: 100%;
    margin: 0 auto;
    border: 1px solid;
}

#tablaRegistro {
    width: 100%;
    margin: 0 auto;
    border: 1px solid;
    background-color: antiquewhite;
}

#tableData {
    width: 100%;
    margin: 0 auto;
    border: 1px solid;

}

#mat-form-field-registros {
    width: 100%;
}

#input-registros {
    width: 100%;
    font-size: 120%;
}

#parametrosPrincipales {
    font-size: 100%;
    text-align: center;
}

#nombreIslas {
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;

}
#botones {
    justify-content: flex-end;
}

#tr-td-registros {
    margin: 0 auto;
    border: 1px solid;
}

#border-header-table-data {
    border: 1px solid;
}

/*
h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    font-size: 30px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

input {
    font-size: 200%;
    text-align: center;
    text-transform: capitalize;
}

label {
    font-size: 15px;
}

mat-label {
    font-size: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

mat-hint {
    font-size: 15px;
    color: blue;
    font-family: 'Courier New', Courier, monospace;
}

mat-form-field {
    margin-right: 10px;

}

#bomba {
    width: 50%;
}

h4 {
    font-size: 15px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: blue;

}

input {
    font-size: 200%;
    text-align: center;
}

mat-label {
    font-size: 15px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

mat-hint {
    font-size: 15px;
    color: blue;
    font-family: 'Courier New', Courier, monospace;
}

#check {
    font-size: 50px;
    height: 70px;
    width: 70px;
    color: blueviolet;
    cursor: pointer;

}

#posiciones {
    background-color: cadetblue;
    color: #fff;
    height: 20px;
}


/*
table,

tr {
    width: 100%;
    margin: 0 auto;
    border: 1px solid;
}

table, th {
    text-align: center;
}

#tabla {
    width: 100%;
    margin: 0 auto;
    border: 1px solid;
}

#tablaTr {

    margin: 0 auto;
    border: 1px solid;
}

#tablaTd {

    margin: 0 auto;
    border: 1px solid;
}

.fa-solid {
    cursor: pointer;
}

#th {
    background-color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: white;

    border: 1px solid rgb(57, 57, 58);
}

td {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 10px;
    
}
*/
/*
#encabezado {
    text-align: center;
}

#asignacion {
    background-color: teal;
    color: #fff;

}

#dateAssignment {
    margin-right: 25px;

}

#progressBar {
    width: auto;


}*/