<app-cuadres-navbar></app-cuadres-navbar>

<body>

    <form id="formulario" [formGroup]="digitizeForm"  class="mat-elevation-z8">
        <h3>
            <mat-icon> local_gas_station</mat-icon> &nbsp; Numeración de Bombas
        </h3>


        <hr>


        <mat-tab-group backgroundColor="primary" [color]="color">

            <mat-tab label="Isla 1 ">

                <h1>Isla 1</h1>

                <div>
                    <table class="example-full-width" cellSpacing="0">
                        <tr>
                            <td>
                                <label>Seleccione Fecha : &nbsp; &nbsp; &nbsp;</label>
                                <mat-form-field color="accent" appearance="fill">
                                    <input formControlName="readingDate" required matInput
                                        [matDatepicker]="readingDate">
                                    <mat-datepicker-toggle [for]="readingDate" matSuffix></mat-datepicker-toggle>
                                    <mat-datepicker #readingDate></mat-datepicker>
                                </mat-form-field>
                            </td>

                            <td>
                                <label>Seleccione Bomba : &nbsp; &nbsp; &nbsp;</label>
                                <mat-form-field appearance="fill">
                                    <mat-label>Seleccione Bomba</mat-label>
                                    <mat-select formControlName="dispenserId" required>

                                        <mat-option *ngFor="let dispenser of selectedDispenser"
                                            [value]="dispenser.dispenserId">
                                            {{dispenser.dispenserCode | titlecase}}
                                        </mat-option>
                                    </mat-select>

                                </mat-form-field>
                            </td>


                        </tr>

                        <button *ngIf="buttonaperturar" mat-button color="primary" (click)="aperturar();"><mat-icon>calendar_today</mat-icon>&nbsp; Aperturar Día</button>
                        
                       <div *ngIf="buttonacierre">
                        
                        <mat-progress-bar  id="progressBar" mode="indeterminate"><h1>Registrando</h1></mat-progress-bar>
                        <h3>Registrando Numeracíon</h3>
                        <mat-progress-bar id="progressBar" mode="query"></mat-progress-bar>
                        <button  mat-button color="primary" (click)="cierre();"><mat-icon color="green">lock</mat-icon>&nbsp; Cerrar Día</button>
                       </div>

                    </table>
                </div>


                <mat-tab-group backgroundColor="accent">

                    <mat-tab label="lado A">
                        
                        
                            <button  *ngIf="buttonDisableSideA" mat-button color="primary" (click)="habilitarA();"><mat-icon>lock</mat-icon> <mat-icon>forward</mat-icon> <mat-icon>lock_open</mat-icon>&nbsp; Habilitar Lado A</button>
                            <button  *ngIf="buttonDisableSideB" mat-button color="primary" ><mat-icon>check</mat-icon>&nbsp; Lado A Aperturado</button>
                            

                        <hr>
                        <label>
                            <h2> Regular : <button [disabled]="btnDisableRegularR1A" id="botondigitar"   mat-raised-button color="accent" (click)="regular1A();"><mat-icon> border_color</mat-icon>&nbsp; Digitar</button> </h2>
                        </label>


                        <!-- tabla para registro de Regular-->
                        <table  *ngIf="showMeRegular1A" id="tabla" class="example-full-width" cellspacing="0">
                            <tr id="tablaTr"   >
                                
                                        <td id="tablaTd" *ngFor="let dispenserReader of dispenserReaderG">

                                            <mat-form-field appearance="legacy">
                                                <mat-label>Lectura Galones:</mat-label>
                                                <input   type="number"  id="fName" formControlName="previuosNoGallons" matInput readonly=" " [(ngModel)]="dispenserReader.actualNoGallons">
                                                <mat-icon matSuffix> local_gas_station</mat-icon>
                                                <mat-hint>Lectura Anterior</mat-hint>
                                            </mat-form-field>
                                        </td>
        
        
                                        <td id="tablaTd" *ngFor="let dispenserReader of dispenserReaderM">
        
                                            <mat-form-field appearance="legacy">
                                                <mat-label>Lectura Mecánica:</mat-label>
                                                <input  type="number" id="fName" formControlName="previuosNoMechanic" matInput readonly="" [(ngModel)]="dispenserReader.actualNoMechanic">
                                                <mat-icon matSuffix> local_gas_station</mat-icon>
                                                <mat-hint>Lectura Anterior</mat-hint>
                                            </mat-form-field>
        
                                        </td>
        
                                        <td id="tablaTd" *ngFor="let dispenserReader of dispenserReaderMY">
                                            <mat-form-field appearance="legacy">
                                                <mat-label>Lectura Dinero:</mat-label>
                                                <input type="number" id="fName" formControlName="previuosNoMoney" matInput readonly="" [(ngModel)]="dispenserReader.actualNoMoney">
                                                <mat-icon matSuffix> local_gas_station</mat-icon>
                                                <mat-hint>Lectura Anterior</mat-hint>
                                            </mat-form-field>
                                        </td>           
                                
                            </tr>
                         
                            <tr>
                                <td id="tablaTd">

                                    <mat-form-field appearance="legacy">
                                        <mat-label>Lectura Galones:</mat-label>
                                        <input type="number" id="fName" formControlName="actualNoGallons" matInput>
                                        <mat-icon matSuffix> local_gas_station</mat-icon>
                                        <mat-hint>Lectura de día</mat-hint>
                                    </mat-form-field>

                                </td>

                                <td id="tablaTd">

                                    <mat-form-field appearance="legacy">
                                        <mat-label>Lectura Mecánica:</mat-label>
                                        <input type="number" id="fName" formControlName="actualNoMechanic" matInput>
                                        <mat-icon matSuffix> local_gas_station</mat-icon>
                                        <mat-hint>Lectura de día</mat-hint>
                                    </mat-form-field>

                                </td>

                                <td id="tablaTd">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Lectura Dinero:</mat-label>
                                        <input type="number" id="fName" formControlName="actualNoMoney" matInput>
                                        <mat-icon matSuffix> local_gas_station</mat-icon>
                                        <mat-hint>Lectura de día</mat-hint>
                                    </mat-form-field>
                                </td>

                            </tr><br>

                            <div>
                                <tr> 
                                    <button  [disabled]="buttonDisableRegular" mat-raised-button color="warn" (click)="cancelarRegularA1();">	<mat-icon>cancel</mat-icon>&nbsp; Cancelar</button>  &nbsp;  
                                    <button  [disabled]="buttonDisableRegular" mat-raised-button color="primary" (click)="guardarRegularA1();">	<mat-icon>save</mat-icon>&nbsp; Guardar</button>         
                                      
                                </tr>
                            </div><br>
                        </table>
                        <br>
                        <hr>
                        <label>
                            <h2> Super : <button [disabled]="btnDisableSuperR1A" id="botondigitar" mat-raised-button color="accent" (click)="super1A();"><mat-icon> border_color</mat-icon>&nbsp; Digitar</button> </h2>
                        </label>

                        <!-- tabla para registro de Super-->
                        <table *ngIf="showMeSuper1A" id="tabla" class="example-full-width" cellspacing="0">
                            <tr id="tablaTr">
                                <td id="tablaTd" *ngFor="let dispenserReader of dispenserReaderG">

                                    <mat-form-field appearance="legacy">
                                        <mat-label>Lectura Galones:</mat-label>
                                        <input type="number" id="fName" formControlName="previuosNoGallons"  matInput readonly="" [(ngModel)]="dispenserReader.actualNoGallons">
                                        <mat-icon matSuffix> local_gas_station</mat-icon>
                                        <mat-hint>Lectura Anterior</mat-hint>
                                    </mat-form-field>
                                </td>


                                <td id="tablaTd"  *ngFor="let dispenserReader of dispenserReaderM" >

                                    <mat-form-field appearance="legacy">
                                        <mat-label>Lectura Mecánica:</mat-label>
                                        <input type="number" id="fName" formControlName="previuosNoMechanic" matInput readonly="" [(ngModel)]="dispenserReader.actualNoMechanic">
                                        <mat-icon matSuffix> local_gas_station</mat-icon>
                                        <mat-hint>Lectura Anterior</mat-hint>
                                    </mat-form-field>

                                </td>

                                <td id="tablaTd"  *ngFor="let dispenserReader of dispenserReaderMY">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Lectura Dinero:</mat-label>
                                        <input type="number" id="fName" formControlName="previuosNoMoney" matInput readonly="" [(ngModel)]="dispenserReader.actualNoMoney">
                                        <mat-icon matSuffix> local_gas_station</mat-icon>
                                        <mat-hint>Lectura Anterior</mat-hint>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td id="tablaTd">

                                    <mat-form-field appearance="legacy">
                                        <mat-label>Lectura Galones:</mat-label>
                                        <input type="number" id="fName" formControlName="actualNoGallons" matInput>
                                        <mat-icon matSuffix> local_gas_station</mat-icon>
                                        <mat-hint>Lectura de día</mat-hint>
                                    </mat-form-field>

                                </td>


                                <td id="tablaTd">

                                    <mat-form-field appearance="legacy">
                                        <mat-label>Lectura Mecánica:</mat-label>
                                        <input type="number" id="fName" formControlName="actualNoMechanic" matInput>
                                        <mat-icon matSuffix> local_gas_station</mat-icon>
                                        <mat-hint>Lectura de día</mat-hint>
                                    </mat-form-field>

                                </td>

                                <td id="tablaTd">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Lectura Dinero:</mat-label>
                                        <input type="number" id="fName" formControlName="actualNoMoney" matInput>
                                        <mat-icon matSuffix> local_gas_station</mat-icon>
                                        <mat-hint>Lectura de día</mat-hint>
                                    </mat-form-field>
                                </td>

                            </tr><br>

                            <div>
                                <tr> 
                                    <button  [disabled]="buttonDisableRegular" mat-raised-button color="warn" (click)="cancelarSuperA1();">	<mat-icon>cancel</mat-icon>&nbsp; Cancelar</button>  &nbsp; 
                                    <button [disabled]="buttonDisableSuper"mat-raised-button color="primary" (click)="guardarSuperA1();"><mat-icon>save</mat-icon>&nbsp;   Guardar</button>              
                                </tr>
                            </div><br>
                        </table><br>
                        <hr>

                        <label>
                            <h2> Diesel: <button [disabled]="btnDisableDisableR1A" id="botondigitar" mat-raised-button color="accent" (click)="diesel1A();"><mat-icon> border_color</mat-icon> &nbsp; Digitar</button> </h2>
                        </label>

                        <!-- tabla para registro de Diesel-->
                        <table *ngIf="showMeDiesel1A" id="tabla" class="example-full-width" cellspacing="0">
                            <tr id="tablaTr">
                                <td id="tablaTd" *ngFor="let dispenserReader of dispenserReaderG">

                                    <mat-form-field appearance="legacy">
                                        <mat-label>Lectura Galones:</mat-label>
                                        <input type="number" id="fName" formControlName="previuosNoGallons" matInput readonly=""[(ngModel)]="dispenserReader.actualNoGallons">
                                        <mat-icon matSuffix> local_gas_station</mat-icon>
                                        <mat-hint>Lectura Anterior</mat-hint>
                                    </mat-form-field>
                                </td>


                                <td id="tablaTd" *ngFor="let dispenserReader of dispenserReaderM">

                                    <mat-form-field appearance="legacy">
                                        <mat-label>Lectura Mecánica:</mat-label>
                                        <input type="number" id="fName" formControlName="previuosNoMechanic" matInput readonly="" [(ngModel)]="dispenserReader.actualNoMechanic">
                                        <mat-icon matSuffix> local_gas_station</mat-icon>
                                        <mat-hint>Lectura Anterior</mat-hint>
                                    </mat-form-field>

                                </td>

                                <td id="tablaTd" *ngFor="let dispenserReader of dispenserReaderMY">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Lectura Dinero:</mat-label>
                                        <input type="number" id="fName" formControlName="previuosNoMoney" matInput readonly="" [(ngModel)]="dispenserReader.actualNoMoney">
                                        <mat-icon matSuffix> local_gas_station</mat-icon>
                                        <mat-hint>Lectura Anterior</mat-hint>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td id="tablaTd">

                                    <mat-form-field appearance="legacy">
                                        <mat-label>Lectura Galones:</mat-label>
                                        <input type="number" id="fName" formControlName="actualNoGallons" matInput >
                                        <mat-icon matSuffix> local_gas_station</mat-icon>
                                        <mat-hint>Lectura de día</mat-hint>
                                    </mat-form-field>

                                </td>


                                <td id="tablaTd">

                                    <mat-form-field appearance="legacy">
                                        <mat-label>Lectura Mecánica:</mat-label>
                                        <input type="number" id="fName" formControlName="actualNoMechanic" matInput>
                                        <mat-icon matSuffix> local_gas_station</mat-icon>
                                        <mat-hint>Lectura de día</mat-hint>
                                    </mat-form-field>

                                </td>

                                <td id="tablaTd">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Lectura Dinero:</mat-label>
                                        <input type="number" id="fName" formControlName="actualNoMoney" matInput>
                                        <mat-icon matSuffix> local_gas_station</mat-icon>
                                        <mat-hint>Lectura de día</mat-hint>
                                    </mat-form-field>
                                </td>

                            </tr><br>

                            <div>
                                <tr> 
                                    <button  [disabled]="buttonDisableDiesel" mat-raised-button color="warn" (click)="cancelarDieselA1();">	<mat-icon>cancel</mat-icon>&nbsp; Cancelar</button>  &nbsp;  
                                    <button [disabled]="buttonDisableDiesel" mat-raised-button color="primary" (click)="guardarDieselA1();"><mat-icon>save</mat-icon>&nbsp;Guardar</button>              
                                </tr>
                            </div><br>
                        </table>

                    </mat-tab>

                    <mat-tab label="lado B">

                       
                        <button  *ngIf="buttonDisableSideA" mat-button color="primary" (click)="habilitarB();"><mat-icon>lock</mat-icon> <mat-icon>forward</mat-icon> <mat-icon>lock_open</mat-icon>&nbsp; Habilitar Lado B</button>
                        <button  *ngIf="buttonDisableSideB" mat-button color="primary" ><mat-icon>check</mat-icon>&nbsp; Lado B Aperturado</button>
                        
                        <hr>
                        <label>
                            <h2> Regular: <button [disabled]="btnDisableRegularR1B"id="botondigitar" mat-raised-button color="accent" (click)="regular1B();"><mat-icon> border_color</mat-icon> &nbsp; Digitar</button> </h2>
                        </label>

                        <!-- tabla para registro de Regular-->
                        <table *ngIf="showMeRegular1B" id="tabla" class="example-full-width" cellspacing="0">
                            <tr id="tablaTr">
                                <td id="tablaTd" *ngFor="let dispenserReader of dispenserReaderG">

                                    <mat-form-field appearance="legacy">
                                        <mat-label>Lectura Galones:</mat-label>
                                        <input type="number" id="fName"  matInput readonly="" formControlName="previuosNoGallons" matInput readonly=""[(ngModel)]="dispenserReader.actualNoGallons">
                                        <mat-icon matSuffix> local_gas_station</mat-icon>
                                        <mat-hint>Lectura Anterior</mat-hint>
                                    </mat-form-field>
                                </td>

                                <td id="tablaTd" *ngFor="let dispenserReader of dispenserReaderM">

                                    <mat-form-field appearance="legacy">
                                        <mat-label>Lectura Mecánica:</mat-label>
                                        <input type="number" id="fName" formControlName="previuosNoMechanic" matInput readonly="" [(ngModel)]="dispenserReader.actualNoMechanic">
                                        <mat-icon matSuffix> local_gas_station</mat-icon>
                                        <mat-hint>Lectura Anterior</mat-hint>
                                    </mat-form-field>

                                </td>

                                <td id="tablaTd"  *ngFor="let dispenserReader of dispenserReaderMY">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Lectura Dinero:</mat-label>
                                        <input type="number" id="fName" formControlName="previuosNoMoney" matInput readonly="" [(ngModel)]="dispenserReader.actualNoMoney">
                                        <mat-icon matSuffix> local_gas_station</mat-icon>
                                        <mat-hint>Lectura Anterior</mat-hint>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td id="tablaTd">

                                    <mat-form-field appearance="legacy">
                                        <mat-label>Lectura Galones:</mat-label>
                                        <input type="number" id="fName" formControlName="actualNoGallons" matInput >
                                        <mat-icon matSuffix> local_gas_station</mat-icon>
                                        <mat-hint>Lectura de día</mat-hint>
                                    </mat-form-field>

                                </td>

                                <td id="tablaTd">

                                    <mat-form-field appearance="legacy">
                                        <mat-label>Lectura Mecánica:</mat-label>
                                        <input type="number" id="fName" formControlName="actualNoMechanic" matInput >
                                        <mat-icon matSuffix> local_gas_station</mat-icon>
                                        <mat-hint>Lectura de día</mat-hint>
                                    </mat-form-field>

                                </td>

                                <td id="tablaTd">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Lectura Dinero:</mat-label>
                                        <input type="number" id="fName" formControlName="actualNoMoney" matInput>
                                        <mat-icon matSuffix> local_gas_station</mat-icon>
                                        <mat-hint>Lectura de día</mat-hint>
                                    </mat-form-field>
                                </td>

                            </tr><br>

                            <div>
                                <tr> 
                                    <button  [disabled]="buttonDisableRegular" mat-raised-button color="warn" (click)="cancelarRegularB1();">	<mat-icon>cancel</mat-icon>&nbsp; Cancelar</button>  &nbsp;  
                                    <button [disabled]="buttonDisableRegularB" mat-raised-button color="primary" (click)="guardarRegularB1();" ><mat-icon>save</mat-icon>&nbsp;Guardar</button>              
                                </tr>
                            </div><br>
                        </table>
                        <br>
                        <hr>
                        <label>
                            <h2> Super : <button [disabled]="btnDisableSuperR1B" id="botondigitar" mat-raised-button color="accent" (click)="super1B();"><mat-icon> border_color</mat-icon>&nbsp; Digitar</button> </h2>
                        </label>

                        <!-- tabla para registro de Super-->
                        <table *ngIf="showMeSuper1B" id="tabla" class="example-full-width" cellspacing="0">
                            <tr id="tablaTr">
                                <td id="tablaTd"  *ngFor="let dispenserReader of dispenserReaderG">

                                    <mat-form-field appearance="legacy">
                                        <mat-label>Lectura Galones:</mat-label>
                                        <input type="number" id="fName" formControlName="previuosNoGallons"  matInput readonly="" [(ngModel)]="dispenserReader.actualNoGallons">
                                        <mat-icon matSuffix> local_gas_station</mat-icon>
                                        <mat-hint>Lectura Anterior</mat-hint>
                                    </mat-form-field>
                                </td>

                                <td id="tablaTd"  *ngFor="let dispenserReader of dispenserReaderM">

                                    <mat-form-field appearance="legacy">
                                        <mat-label>Lectura Mecánica:</mat-label>
                                        <input type="number" id="fName" formControlName="previuosNoMechanic" matInput readonly="" [(ngModel)]="dispenserReader.actualNoMechanic">
                                        <mat-icon matSuffix> local_gas_station</mat-icon>
                                        <mat-hint>Lectura Anterior</mat-hint>
                                    </mat-form-field>

                                </td>

                                <td id="tablaTd"  *ngFor="let dispenserReader of dispenserReaderMY">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Lectura Dinero:</mat-label>
                                        <input type="number" id="fName"  formControlName="previuosNoMoney" matInput readonly="" [(ngModel)]="dispenserReader.actualNoMoney">
                                        <mat-icon matSuffix> local_gas_station</mat-icon>
                                        <mat-hint>Lectura Anterior</mat-hint>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td id="tablaTd">

                                    <mat-form-field appearance="legacy">
                                        <mat-label>Lectura Galones:</mat-label>
                                        <input type="number" id="fName" formControlName="actualNoGallons" matInput>
                                        <mat-icon matSuffix> local_gas_station</mat-icon>
                                        <mat-hint>Lectura de día</mat-hint>
                                    </mat-form-field>

                                </td>


                                <td id="tablaTd">

                                    <mat-form-field appearance="legacy">
                                        <mat-label>Lectura Mecánica:</mat-label>
                                        <input type="number" id="fName" formControlName="actualNoMechanic" matInput>
                                        <mat-icon matSuffix> local_gas_station</mat-icon>
                                        <mat-hint>Lectura de día</mat-hint>
                                    </mat-form-field>

                                </td>

                                <td id="tablaTd">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Lectura Dinero:</mat-label>
                                        <input type="number" id="fName" formControlName="actualNoMoney" matInput>
                                        <mat-icon matSuffix> local_gas_station</mat-icon>
                                        <mat-hint>Lectura de día</mat-hint>
                                    </mat-form-field>
                                </td>

                            </tr><br>

                            <div>
                                <tr> 
                                    <button  [disabled]="buttonDisableRegular" mat-raised-button color="warn" (click)="cancelarSuperB1();">	<mat-icon>cancel</mat-icon>&nbsp; Cancelar</button>  &nbsp;  
                                    <button [disabled]="buttonDisableSuperB" mat-raised-button color="primary" (click)="guardarSuperB1();"><mat-icon>save</mat-icon>&nbsp;Guardar</button>              
                                </tr>
                            </div><br>
                        </table><br>
                        <hr>

                        <label>
                            <h2> Diesel : <button  [disabled]="btnDisableDieselR1B" id="botondigitar" mat-raised-button color="accent" (click)="diesel1B();"><mat-icon> border_color</mat-icon>&nbsp; Digitar</button> </h2>
                        </label>

                        <!-- tabla para registro de Diesel-->
                        <table *ngIf="showMeDiesel1B" id="tabla" class="example-full-width" cellspacing="0">
                            <tr id="tablaTr">
                                <td id="tablaTd" *ngFor="let dispenserReader of dispenserReaderG">

                                    <mat-form-field appearance="legacy">
                                        <mat-label>Lectura Galones:</mat-label>
                                        <input type="number" id="fName" formControlName="previuosNoGallons" matInput readonly=""[(ngModel)]="dispenserReader.actualNoGallons">
                                        <mat-icon matSuffix> local_gas_station</mat-icon>
                                        <mat-hint>Lectura Anterior</mat-hint>
                                    </mat-form-field>
                                </td>


                                <td id="tablaTd"  *ngFor="let dispenserReader of dispenserReaderM">

                                    <mat-form-field appearance="legacy">
                                        <mat-label>Lectura Mecánica:</mat-label>
                                        <input type="number" id="fName" formControlName="previuosNoMechanic" matInput readonly="" [(ngModel)]="dispenserReader.actualNoMechanic">
                                        <mat-icon matSuffix> local_gas_station</mat-icon>
                                        <mat-hint>Lectura Anterior</mat-hint>
                                    </mat-form-field>

                                </td>

                                <td id="tablaTd"  *ngFor="let dispenserReader of dispenserReaderMY">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Lectura Dinero:</mat-label>
                                        <input type="number" id="fName" formControlName="previuosNoMoney" matInput readonly="" [(ngModel)]="dispenserReader.actualNoMoney">
                                        <mat-icon matSuffix> local_gas_station</mat-icon>
                                        <mat-hint>Lectura Anterior</mat-hint>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <td id="tablaTd">

                                    <mat-form-field appearance="legacy">
                                        <mat-label>Lectura Galones:</mat-label>
                                        <input type="number" id="fName" formControlName="actualNoGallons" matInput>
                                        <mat-icon matSuffix> local_gas_station</mat-icon>
                                        <mat-hint>Lectura de día</mat-hint>
                                    </mat-form-field>

                                </td>

                                <td id="tablaTd">

                                    <mat-form-field appearance="legacy">
                                        <mat-label>Lectura Mecánica:</mat-label>
                                        <input type="number" id="fName" formControlName="actualNoMechanic" matInput>
                                        <mat-icon matSuffix> local_gas_station</mat-icon>
                                        <mat-hint>Lectura de día</mat-hint>
                                    </mat-form-field>

                                </td>

                                <td id="tablaTd">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Lectura Dinero:</mat-label>
                                        <input type="number" id="fName" formControlName="actualNoMoney" matInput>
                                        <mat-icon matSuffix> local_gas_station</mat-icon>
                                        <mat-hint>Lectura de día</mat-hint>
                                    </mat-form-field>
                                </td>

                            </tr><br>

                            <div>
                                <tr> 
                                    <button  [disabled]="buttonDisableRegular" mat-raised-button color="warn" (click)="cancelarDieselB1();">	<mat-icon>cancel</mat-icon>&nbsp; Cancelar</button>  &nbsp;  
                                    <button [disabled]="buttonDisableDieselB" mat-raised-button color="primary" (click)="guardarDieselB1();"><mat-icon>save</mat-icon>&nbsp;Guardar</button>              
                                </tr>
                            </div><br>
                        </table>

                    </mat-tab>

                </mat-tab-group>

            </mat-tab>

            <mat-tab label="Isla 2 ">
                <h1>Isla 2</h1>
                <hr>

                <mat-tab-group backgroundColor="accent">

                    <mat-tab label="lado A">
                        <h1>Lado A</h1>
                        <label>
                            <h2> Regular :</h2>
                        </label>

                        <hr>
                        <label>
                            <h2> Super :</h2>
                        </label>

                        <hr>
                        <label>
                            <h2> Diesel :</h2>
                        </label>

                    </mat-tab>

                    <mat-tab label="lado B">
                        <h1>Lado B</h1>
                        <label>
                            <h2> Regular :</h2>
                        </label>

                        <hr>
                        <label>
                            <h2> Super :</h2>
                        </label>

                        <hr>
                        <label>
                            <h2> Diesel :</h2>
                        </label>

                    </mat-tab>

                </mat-tab-group>

            </mat-tab>

        </mat-tab-group>

    </form>

</body>
<app-footer></app-footer>