<body>
    <div class="contenedor" class="mat-elevation-z8">
        <form [formGroup]="deletePurchaseForm" class="mat-elevation-z8">
            <h1>Eliminar Orden de Pedido</h1>
  
            <hr>
            <div class="row">
                <h1>Gran Total</h1>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <section  id="sectionFuel">
                        <table>
                            <thead>
                                <tr id="">
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of purchaseOrder">
                                    <td id="tdFuel">Q. {{data.totalPurchaseOrder | number}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
            <div class="row">
                <div  class="col-md-8 col-sm-8 col-xs-8">
                    <label>
                        <h1>Galones Vendidos</h1>
                    </label>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <section id="sectionFuel">
                                <h3>Galones Comprados Regular</h3>
                                <table>
                                    <thead>
                                        <tr id="">
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of purchaseOrder">
                                            <td id="tdFuel">{{data.totalGallonRegular | number}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <section id="sectionFuel">
                                <h3>Galones Comprados Super</h3>
                                <table>
                                    <thead>
                                        <tr id="">
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of purchaseOrder">
                                            <td id="tdFuel">{{data.totalGallonSuper | number}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <section id="sectionFuel">
                                <h3>Galones Comprados Diesel</h3>
                                <table>
                                    <thead>
                                        <tr id="">
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of purchaseOrder">
                                            <tr *ngFor="let data of purchaseOrder">
                                                <td id="tdFuel">{{data.totalGallonDiesel | number}}</td>
                                            </tr>
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </div>
                </div>

                <div div class="col-md-4 col-sm-4 col-xs-4">
                    <label>
                        <h1>Precios De Combustibles</h1>
                    </label>
                    <section id="sectionFuel">
                        <table>
                            <thead>
                                <tr>
                                    <td>

                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr  *ngFor="let fuel of fuels">
                                <td  align="center" id="tdFuel">{{fuel.fuelName}}  Q. {{fuel.salePrice | number}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>

            <div>
                <div div class="col-md-4 col-sm-4 col-xs-4">
                    <label>
                        <h1>Número de Orden</h1>
                    </label>
                    <section id="sectionFuel">
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr  *ngFor="let data of purchaseOrder">
                                    <td id="tdFuel">  {{data.orderNumber}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
                <hr>
            </div>

           
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <button  mat-raised-button color="primary"  id="btnDelete" (click)="deleteSalesControl()">Eliminar Registros</button>
                </div>
            </div>
        </form>

    </div>
</body>