<body>
    <div class="contenedor" class="mat-elevation-z8">
        <form [formGroup]="reportingPurchaseForm" class="mat-elevation-z8">
            <h1>Reportes de Compras por Fechas</h1>
            <hr>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="input-group">
                                <div id="divDate">
                                    <mat-form-field id="mat-form-field-dates" id="matFiel-heards" color="accent"
                                        appearance="fill">
                                        <input id="input-registros" required matInput [matDatepicker]="initialDate"
                                            formControlName="initialDate">
                                        <mat-datepicker-toggle [for]="initialDate" matSuffix></mat-datepicker-toggle>
                                        <mat-datepicker #initialDate></mat-datepicker>
                                        <mat-hint>Ingrese Fecha de inicio</mat-hint><br>
                                    </mat-form-field> &nbsp;
                                </div>

                                <div id="divDate">
                                    <mat-form-field id="mat-form-field-dates" id="matFiel-heards" color="accent"
                                        appearance="fill">
                                        <input id="input-registros" required matInput [matDatepicker]="finalDate"
                                            formControlName="finalDate">
                                        <mat-datepicker-toggle [for]="finalDate" matSuffix></mat-datepicker-toggle>
                                        <mat-datepicker #finalDate></mat-datepicker>
                                        <mat-hint>Ingrese fecha final</mat-hint><br>
                                    </mat-form-field>
                                </div>

                                <button id="buttonA" mat-raised-button color="primary" (click)="search();">
                                    <mat-icon>search</mat-icon><br> Buscar
                                </button>
                                <button id="buttonB" mat-raised-button color="primary" (click)="newSearch();">
                                    <mat-icon>sync</mat-icon><br> Nueva Buesqueda
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <h1>Gran Total</h1>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <section id="sectionAccumulated">
                        <table>
                            <thead>
                                <tr>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let total of purchaseReportTotal">
                                    <td id="colorTd2"> <input id="input-registros" id="input-registros" type="number" name="gallonA"
                                            formControlName="totalPurchase" [(ngModel)]="total.count " matInput></td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
            </div><br>

            <div class="row">
                <div class="col-md-8 col-sm- col-xs-8">
                    <label>
                        <h1>Galones Acumulados</h1>
                    </label>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <section id="sectionFuel">
                                <h3> Galones Acumulados Regular</h3>
                                <table>
                                    <thead>
                                       
                                    </thead>
                                    <tbody>
                                        
                                        <tr *ngFor="let disRegular of purchaseOrderRegular">
                                            <td id="colorTd2"> <input id="input-registros" id="input-registros" type="number"
                                                    name="gallonA" formControlName="totalGallonsRegular"
                                                    [(ngModel)]="disRegular.count" matInput></td>
                                        </tr>
                                    </tbody>
                                    </table>
                            </section>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <section id="sectionFuel">
                                <h3> Galones Acumulados Super</h3>
                                <table>
                                    <thead>
                                        <tr>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr *ngFor="let disSuper of purchaseOrderSuper">
                                            <td id="colorTd2"> <input id="input-registros" id="input-registros" type="number"
                                                    name="gallonA" formControlName="totalGallonsSuper"
                                                    [(ngModel)]="disSuper.count" matInput></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <section id="sectionFuel">
                                <h3> Galones Acumulados Diesel</h3>
                                <table>
                                    <thead>
                                        <tr></tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let disDiesel of purchaseOrderDiesel">
                                            <td id="colorTd2"> <input id="input-registros" id="input-registros" type="number"
                                                    name="gallonA" formControlName="totalGallonsDiesel"
                                                    [(ngModel)]="disDiesel.count" matInput></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </div>
                </div>
            </div><br>
            <div class="row">
                <h3 class="card-title">  Total de registros ({{totalPurchases}})</h3>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <section id="section">
                        <table id="tableDetail" class="table table-dark" class="mat-elevation-z8">
                            <thead>
                                <tr id="trEncabezado">
                                    <th thDetail scope="col"> Fecha</th>
                                    <th thDetail scope="col"> No. Orden</th>
                                    <th thDetail scope="col">Serie Factura</th>
                                    <th thDetail scope="col">No. Factura</th>
                                    <th thDetail scope="col">Total Galones Super</th>
                                    <th thDetail scope="col">Total Galones Regular</th>
                                    <th thDetail scope="col">Total Galones Diesel</th>
                                    <th thDetail scope="col">Banco</th>
                                    <th thDetail scope="col">No. Cheque</th>
                                    <th thDetail scope="col">Monto Cheque</th>
                                    <th thDetail scope="col">Cupones</th>
                                    <th thDetail scope="col">Otros Pagos</th>
                                    <th thDetail scope="col"> Total Compra</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of purchaseReport">
                                    <td id="tdTable" scope="col">{{data.deliveryDate | date}}</td>
                                    <td id="tdTable" scope="col">{{data.orderNumber}}</td>
                                    <td id="tdTable" scope="col">{{data.purchaseId.invoiceSerie}}</td>
                                    <td id="tdTable" scope="col">{{data.purchaseId.invoiceDocument}}</td>
                                    <td id="tdTable" scope="col">{{data.totalGallonSuper | number}}</td>
                                    <td id="tdTable" scope="col">{{data.totalGallonRegular  | number}}</td>
                                    <td id="tdTable" scope="col">{{data.totalGallonDiesel  | number}}</td>
                                    <td id="tdTable" scope="col">{{data.purchaseId.bankId}}</td>
                                    <td id="tdTable" scope="col">{{data.purchaseId.NoBankCheck}}</td>
                                    <td id="tdTable" scope="col">{{data.purchaseId.checkAmount  | number}}</td>
                                    <td id="tdTable" scope="col">{{data.purchaseId.couponsAmount  | number}}</td>
                                    <td id="tdTable" scope="col">{{data.purchaseId.otherPayment}}</td>
                                    <td id="tdTable" scope="col">{{data.purchaseId.totalPurchase  | number}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <button mat-button color="primary" (click)="changePage(-3);">
                            <mat-icon>skip_previous</mat-icon> Anterior
                        </button>
                        <button mat-button color="primary" (click)="changePage(3);"> Siguiente <mat-icon>skip_next
                            </mat-icon></button>

                    </section>
                </div>
            </div>
            <hr>

            <div id="section">
                <div>
                    <button id="showButtons" *ngIf="btnShowTableGreaterPurchase" mat-stroked-button color="primary"
                        (click)="buttonShowTableGreaterSales();">
                        <h3>Mostar Compra Mayor <mat-icon>keyboard_arrow_down</mat-icon>
                        </h3>
                    </button>
                    <button id="hideButtons" *ngIf="btnShowTablelesPurchase" mat-stroked-button color="primary"
                        (click)="buttonShowTablelessSales();">
                        <h3>Ocultar Compra Mayor <mat-icon>keyboard_arrow_up</mat-icon>
                        </h3>
                    </button>
                </div>
                <div *ngIf="showMeDivLessGreatPurchase">
                    <div class="row">
                        <h3>Compra Mayor</h3>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <section id="sectionDetail">
                                <table id="tableDetail" class="table table-dark" class="mat-elevation-z8">
                                    <thead>
                                        <tr id="trEncabezado">
                                            <th thDetail scope="col"> Fecha</th>
                                            <th thDetail scope="col"> No. Orden</th>
                                            <th thDetail scope="col">Serie Factura</th>
                                            <th thDetail scope="col">No. Factura</th>
                                            <th thDetail scope="col">Total Galones Super</th>
                                            <th thDetail scope="col">Total Galones Regular</th>
                                            <th thDetail scope="col">Total Galones Diesel</th>
                                            <th thDetail scope="col">Banco</th>
                                            <th thDetail scope="col">No. Cheque</th>
                                            <th thDetail scope="col">Monto Cheque</th>
                                            <th thDetail scope="col">Cupones</th>
                                            <th thDetail scope="col">Otros Pagos</th>
                                            <th thDetail scope="col"> Total Compra</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data2 of greaterPurchase">
                                            <td id="tdTable" scope="col">{{data2.deliveryDate | date}}</td>
                                            <td id="tdTable" scope="col">{{data2.orderNumber}}</td>
                                            <td id="tdTable" scope="col">{{data2.purchaseId.invoiceSerie}}</td>
                                            <td id="tdTable" scope="col">{{data2.purchaseId.invoiceDocument}}</td>
                                            <td id="tdTable" scope="col">{{data2.totalGallonSuper | number}}</td>
                                            <td id="tdTable" scope="col">{{data2.totalGallonRegular  | number}}</td>
                                            <td id="tdTable" scope="col">{{data2.totalGallonDiesel  | number}}</td>
                                            <td id="tdTable" scope="col">{{data2.purchaseId.bankId}}</td>
                                            <td id="tdTable" scope="col">{{data2.purchaseId.NoBankCheck}}</td>
                                            <td id="tdTable" scope="col">{{data2.purchaseId.checkAmount  | number}}</td>
                                            <td id="tdTable" scope="col">{{data2.purchaseId.couponsAmount  | number}}</td>
                                            <td id="tdTable" scope="col">{{data2.purchaseId.otherPayment}}</td>
                                            <td id="tdTable" scope="col"  id="colorTd" scope="col">{{data2.purchaseId.totalPurchase  | number}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </div>

                    <div class="row">
                        <h3>Compra Menor</h3>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <section id="sectionDetail">
                                <table id="tableDetail" class="table table-dark" class="mat-elevation-z8">
                                    <thead>
                                        <tr id="trEncabezado">
                                            <th thDetail scope="col"> Fecha</th>
                                    <th thDetail scope="col"> No. Orden</th>
                                    <th thDetail scope="col">Serie Factura</th>
                                    <th thDetail scope="col">No. Factura</th>
                                    <th thDetail scope="col">Total Galones Super</th>
                                    <th thDetail scope="col">Total Galones Regular</th>
                                    <th thDetail scope="col">Total Galones Diesel</th>
                                    <th thDetail scope="col">Banco</th>
                                    <th thDetail scope="col">No. Cheque</th>
                                    <th thDetail scope="col">Monto Cheque</th>
                                    <th thDetail scope="col">Cupones</th>
                                    <th thDetail scope="col">Otros Pagos</th>
                                    <th thDetail scope="col"> Total Compra</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data3 of lesserPurchase">
                                            <td id="tdTable" scope="col">{{data3.deliveryDate | date}}</td>
                                            <td id="tdTable" scope="col">{{data3.orderNumber}}</td>
                                            <td id="tdTable" scope="col">{{data3.purchaseId.invoiceSerie}}</td>
                                            <td id="tdTable" scope="col">{{data3.purchaseId.invoiceDocument}}</td>
                                            <td id="tdTable" scope="col">{{data3.totalGallonSuper | number}}</td>
                                            <td id="tdTable" scope="col">{{data3.totalGallonRegular  | number}}</td>
                                            <td id="tdTable" scope="col">{{data3.totalGallonDiesel  | number}}</td>
                                            <td id="tdTable" scope="col">{{data3.purchaseId.bankId}}</td>
                                            <td id="tdTable" scope="col">{{data3.purchaseId.NoBankCheck}}</td>
                                            <td id="tdTable" scope="col">{{data3.purchaseId.checkAmount  | number}}</td>
                                            <td id="tdTable" scope="col">{{data3.purchaseId.couponsAmount  | number}}</td>
                                            <td id="tdTable" scope="col">{{data3.purchaseId.otherPayment}}</td>
                                            <td id="tdTable" scope="col"  id="colorTd" scope="col">{{data3.purchaseId.totalPurchase  | number}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </div>
                    <hr>
                </div>
            </div><br>
            <div id="section">
                <div>

                    <button id="showButtons" *ngIf="btnShowTableGreaterRegular" mat-stroked-button color="primary"
                        (click)="buttonShowTableGreaterRegular();">
                        <h3>Mostar Venta Mayor Regular <mat-icon>keyboard_arrow_down</mat-icon>
                        </h3>
                    </button>
                    <button id="hideButtons" *ngIf="btnShowTablelessRegular" mat-stroked-button color="primary"
                        (click)="buttonShowTablelessRegular();">
                        <h3>Ocultar Venta Mayor Regular <mat-icon>keyboard_arrow_up</mat-icon>
                        </h3>
                    </button>
                </div>
                <div *ngIf="showMeDivLessGreatRegular">
                    <div class="row">
                        <h3>Galones Mayor Regular</h3>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <section id="sectionDetail">
                                <table id="tableDetail" class="table table-dark" class="mat-elevation-z8">
                                    <thead>
                                        <tr id="trEncabezado">
                                            <th thDetail scope="col"> Fecha</th>
                                    <th thDetail scope="col"> No. Orden</th>
                                    <th thDetail scope="col">Serie Factura</th>
                                    <th thDetail scope="col">No. Factura</th>
                                    <th thDetail scope="col">Total Galones Super</th>
                                    <th thDetail scope="col">Total Galones Regular</th>
                                    <th thDetail scope="col">Total Galones Diesel</th>
                                    <th thDetail scope="col">Banco</th>
                                    <th thDetail scope="col">No. Cheque</th>
                                    <th thDetail scope="col">Monto Cheque</th>
                                    <th thDetail scope="col">Cupones</th>
                                    <th thDetail scope="col">Otros Pagos</th>
                                    <th thDetail scope="col"> Total Compra</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data4 of greaterRegular">
                                            <td id="tdTable" scope="col">{{data4.deliveryDate | date}}</td>
                                            <td id="tdTable" scope="col">{{data4.orderNumber}}</td>
                                            <td id="tdTable" scope="col">{{data4.purchaseId.invoiceSerie}}</td>
                                            <td id="tdTable" scope="col">{{data4.purchaseId.invoiceDocument}}</td>
                                            <td id="tdTable" scope="col">{{data4.totalGallonSuper | number}}</td>
                                            <td id="tdTable" scope="col"  id="colorTd" scope="col">{{data4.totalGallonRegular  | number}}</td>
                                            <td id="tdTable" scope="col">{{data4.totalGallonDiesel  | number}}</td>
                                            <td id="tdTable" scope="col">{{data4.purchaseId.bankId}}</td>
                                            <td id="tdTable" scope="col">{{data4.purchaseId.NoBankCheck}}</td>
                                            <td id="tdTable" scope="col">{{data4.purchaseId.checkAmount  | number}}</td>
                                            <td id="tdTable" scope="col">{{data4.purchaseId.couponsAmount  | number}}</td>
                                            <td id="tdTable" scope="col">{{data4.purchaseId.otherPayment}}</td>
                                            <td id="tdTable" scope="col">{{data4.purchaseId.totalPurchase  | number}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </div>

                    <div class="row">
                        <h3>Gallones Menor Compados</h3>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <section id="sectionDetail">
                                <table id="tableDetail" class="table table-dark" class="mat-elevation-z8">
                                    <thead>
                                        <tr id="trEncabezado">
                                            <th thDetail scope="col"> Fecha</th>
                                    <th thDetail scope="col"> No. Orden</th>
                                    <th thDetail scope="col">Serie Factura</th>
                                    <th thDetail scope="col">No. Factura</th>
                                    <th thDetail scope="col">Total Galones Super</th>
                                    <th thDetail scope="col">Total Galones Regular</th>
                                    <th thDetail scope="col">Total Galones Diesel</th>
                                    <th thDetail scope="col">Banco</th>
                                    <th thDetail scope="col">No. Cheque</th>
                                    <th thDetail scope="col">Monto Cheque</th>
                                    <th thDetail scope="col">Cupones</th>
                                    <th thDetail scope="col">Otros Pagos</th>
                                    <th thDetail scope="col"> Total Compra</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data5 of lesserRegular">
                                            <td id="tdTable" scope="col">{{data5.deliveryDate | date}}</td>
                                            <td id="tdTable" scope="col">{{data5.orderNumber}}</td>
                                            <td id="tdTable" scope="col">{{data5.purchaseId.invoiceSerie}}</td>
                                            <td id="tdTable" scope="col">{{data5.purchaseId.invoiceDocument}}</td>
                                            <td id="tdTable" scope="col">{{data5.totalGallonSuper | number}}</td>
                                            <td id="tdTable" scope="col"  id="colorTd" scope="col">{{data5.totalGallonRegular  | number}}</td>
                                            <td id="tdTable" scope="col">{{data5.totalGallonDiesel  | number}}</td>
                                            <td id="tdTable" scope="col">{{data5.purchaseId.bankId}}</td>
                                            <td id="tdTable" scope="col">{{data5.purchaseId.NoBankCheck}}</td>
                                            <td id="tdTable" scope="col">{{data5.purchaseId.checkAmount  | number}}</td>
                                            <td id="tdTable" scope="col">{{data5.purchaseId.couponsAmount  | number}}</td>
                                            <td id="tdTable" scope="col">{{data5.purchaseId.otherPayment}}</td>
                                            <td id="tdTable" scope="col">{{data5.purchaseId.totalPurchase  | number}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </div>
                    <hr>
                </div>
            </div><br>

            <div id="section">
                <div>

                    <button id="showButtons" *ngIf="btnShowTableGreaterSuper" mat-stroked-button color="primary"
                        (click)="buttonShowTableGreaterSuper();">
                        <h3>Mostar Venta Mayor Super <mat-icon>keyboard_arrow_down</mat-icon>
                        </h3>
                    </button>
                    <button id="hideButtons" *ngIf="btnShowTablelessSuper" mat-stroked-button color="primary"
                        (click)="buttonShowTablelessSuper();">
                        <h3>Ocultar Venta Mayor Super <mat-icon>keyboard_arrow_up</mat-icon>
                        </h3>
                    </button>
                </div>
                <div *ngIf="showMeDivLessGreatSuper">
                    <div class="row">
                        <h3> Galones Myor Super</h3>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <section id="sectionDetail">
                                <table id="tableDetail" class="table table-dark" class="mat-elevation-z8">
                                    <thead>
                                        <tr id="trEncabezado">
                                            <th thDetail scope="col"> Fecha</th>
                                    <th thDetail scope="col"> No. Orden</th>
                                    <th thDetail scope="col">Serie Factura</th>
                                    <th thDetail scope="col">No. Factura</th>
                                    <th thDetail scope="col">Total Galones Super</th>
                                    <th thDetail scope="col">Total Galones Regular</th>
                                    <th thDetail scope="col">Total Galones Diesel</th>
                                    <th thDetail scope="col">Banco</th>
                                    <th thDetail scope="col">No. Cheque</th>
                                    <th thDetail scope="col">Monto Cheque</th>
                                    <th thDetail scope="col">Cupones</th>
                                    <th thDetail scope="col">Otros Pagos</th>
                                    <th thDetail scope="col"> Total Compra</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data6 of greaterSuper">
                                            <td id="tdTable" scope="col">{{data6.deliveryDate | date}}</td>
                                            <td id="tdTable" scope="col">{{data6.orderNumber}}</td>
                                            <td id="tdTable" scope="col">{{data6.purchaseId.invoiceSerie}}</td>
                                            <td id="tdTable" scope="col">{{data6.purchaseId.invoiceDocument}}</td>
                                            <td id="tdTable" scope="col">{{data6.totalGallonSuper | number}}</td>
                                            <td id="tdTable" scope="col"  id="colorTd" scope="col">{{data6.totalGallonRegular  | number}}</td>
                                            <td id="tdTable" scope="col">{{data6.totalGallonDiesel  | number}}</td>
                                            <td id="tdTable" scope="col">{{data6.purchaseId.bankId}}</td>
                                            <td id="tdTable" scope="col">{{data6.purchaseId.NoBankCheck}}</td>
                                            <td id="tdTable" scope="col">{{data6.purchaseId.checkAmount  | number}}</td>
                                            <td id="tdTable" scope="col">{{data6.purchaseId.couponsAmount  | number}}</td>
                                            <td id="tdTable" scope="col">{{data6.purchaseId.otherPayment}}</td>
                                            <td id="tdTable" scope="col">{{data6.purchaseId.totalPurchase  | number}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </div>
                    <div class="row">
                        <h3>Galones Menor Super</h3>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <section id="sectionDetail">
                                <table id="tableDetail" class="table table-dark" class="mat-elevation-z8">
                                    <thead>
                                        <tr id="trEncabezado">
                                            <th thDetail scope="col"> Fecha</th>
                                    <th thDetail scope="col"> No. Orden</th>
                                    <th thDetail scope="col">Serie Factura</th>
                                    <th thDetail scope="col">No. Factura</th>
                                    <th thDetail scope="col">Total Galones Super</th>
                                    <th thDetail scope="col">Total Galones Regular</th>
                                    <th thDetail scope="col">Total Galones Diesel</th>
                                    <th thDetail scope="col">Banco</th>
                                    <th thDetail scope="col">No. Cheque</th>
                                    <th thDetail scope="col">Monto Cheque</th>
                                    <th thDetail scope="col">Cupones</th>
                                    <th thDetail scope="col">Otros Pagos</th>
                                    <th thDetail scope="col"> Total Compra</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data7 of lesserSuper">
                                            <td id="tdTable" scope="col">{{data7.deliveryDate | date}}</td>
                                            <td id="tdTable" scope="col">{{data7.orderNumber}}</td>
                                            <td id="tdTable" scope="col">{{data7.purchaseId.invoiceSerie}}</td>
                                            <td id="tdTable" scope="col">{{data7.purchaseId.invoiceDocument}}</td>
                                            <td id="tdTable" scope="col">{{data7.totalGallonSuper | number}}</td>
                                            <td id="tdTable" scope="col"  id="colorTd" scope="col">{{data7.totalGallonRegular  | number}}</td>
                                            <td id="tdTable" scope="col">{{data7.totalGallonDiesel  | number}}</td>
                                            <td id="tdTable" scope="col">{{data7.purchaseId.bankId}}</td>
                                            <td id="tdTable" scope="col">{{data7.purchaseId.NoBankCheck}}</td>
                                            <td id="tdTable" scope="col">{{data7.purchaseId.checkAmount  | number}}</td>
                                            <td id="tdTable" scope="col">{{data7.purchaseId.couponsAmount  | number}}</td>
                                            <td id="tdTable" scope="col">{{data7.purchaseId.otherPayment}}</td>
                                            <td id="tdTable" scope="col">{{data7.purchaseId.totalPurchase  | number}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </div>
                    <hr>
                </div>
            </div><br>

            <div id="section">
                <div>
                    <button id="showButtons" *ngIf="btnShowTableGreaterDiesel" mat-stroked-button color="primary"
                        (click)="buttonShowTableGreaterDiesel();">
                        <h3>Mostar Venta Mayor Diesel <mat-icon>keyboard_arrow_down</mat-icon>
                        </h3>
                    </button>
                    <button id="hideButtons" *ngIf="btnShowTablelessDiesel" mat-stroked-button color="primary"
                        (click)="buttonShowTablelessDiesel();">
                        <h3>Ocultar Venta Mayor Diesel <mat-icon>keyboard_arrow_up</mat-icon>
                        </h3>
                    </button>
                </div>
                <div *ngIf="showMeDivLessGreatDiesel">
                    <div class="row">
                        <h3> gallones Mayor Diesel</h3>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <section id="sectionDetail">
                                <table id="tableDetail" class="table table-dark" class="mat-elevation-z8">
                                    <thead>
                                        <tr id="trEncabezado">
                                            <th thDetail scope="col"> Fecha</th>
                                    <th thDetail scope="col"> No. Orden</th>
                                    <th thDetail scope="col">Serie Factura</th>
                                    <th thDetail scope="col">No. Factura</th>
                                    <th thDetail scope="col">Total Galones Super</th>
                                    <th thDetail scope="col">Total Galones Regular</th>
                                    <th thDetail scope="col">Total Galones Diesel</th>
                                    <th thDetail scope="col">Banco</th>
                                    <th thDetail scope="col">No. Cheque</th>
                                    <th thDetail scope="col">Monto Cheque</th>
                                    <th thDetail scope="col">Cupones</th>
                                    <th thDetail scope="col">Otros Pagos</th>
                                    <th thDetail scope="col"> Total Compra</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data8 of greaterDiesel">
                                            <td id="tdTable" scope="col">{{data8.deliveryDate | date}}</td>
                                            <td id="tdTable" scope="col">{{data8.orderNumber}}</td>
                                            <td id="tdTable" scope="col">{{data8.purchaseId.invoiceSerie}}</td>
                                            <td id="tdTable" scope="col">{{data8.purchaseId.invoiceDocument}}</td>
                                            <td id="tdTable" scope="col">{{data8.totalGallonSuper | number}}</td>
                                            <td id="tdTable" scope="col">{{data8.totalGallonRegular  | number}}</td>
                                            <td id="tdTable" scope="col"  id="colorTd" scope="col">{{data8.totalGallonDiesel  | number}}</td>
                                            <td id="tdTable" scope="col">{{data8.purchaseId.bankId}}</td>
                                            <td id="tdTable" scope="col">{{data8.purchaseId.NoBankCheck}}</td>
                                            <td id="tdTable" scope="col">{{data8.purchaseId.checkAmount  | number}}</td>
                                            <td id="tdTable" scope="col">{{data8.purchaseId.couponsAmount  | number}}</td>
                                            <td id="tdTable" scope="col">{{data8.purchaseId.otherPayment}}</td>
                                            <td id="tdTable" scope="col">{{data8.purchaseId.totalPurchase  | number}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </div>

                    <div class="row">
                        <h3>gallones Menor Diesel</h3>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <section id="sectionDetail">
                                <table id="tableDetail" class="table table-dark" class="mat-elevation-z8">
                                    <thead>
                                        <tr id="trEncabezado">
                                            <th thDetail scope="col"> Fecha</th>
                                    <th thDetail scope="col"> No. Orden</th>
                                    <th thDetail scope="col">Serie Factura</th>
                                    <th thDetail scope="col">No. Factura</th>
                                    <th thDetail scope="col">Total Galones Super</th>
                                    <th thDetail scope="col">Total Galones Regular</th>
                                    <th thDetail scope="col">Total Galones Diesel</th>
                                    <th thDetail scope="col">Banco</th>
                                    <th thDetail scope="col">No. Cheque</th>
                                    <th thDetail scope="col">Monto Cheque</th>
                                    <th thDetail scope="col">Cupones</th>
                                    <th thDetail scope="col">Otros Pagos</th>
                                    <th thDetail scope="col"> Total Compra</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data9 of lesserDiesel">
                                            <td id="tdTable" scope="col">{{data9.deliveryDate | date}}</td>
                                            <td id="tdTable" scope="col">{{data9.orderNumber}}</td>
                                            <td id="tdTable" scope="col">{{data9.purchaseId.invoiceSerie}}</td>
                                            <td id="tdTable" scope="col">{{data9.purchaseId.invoiceDocument}}</td>
                                            <td id="tdTable" scope="col">{{data9.totalGallonSuper | number}}</td>
                                            <td id="tdTable" scope="col">{{data9.totalGallonRegular  | number}}</td>
                                            <td id="tdTable" scope="col"  id="colorTd" scope="col">{{data9.totalGallonDiesel  | number}}</td>
                                            <td id="tdTable" scope="col">{{data9.purchaseId.bankId}}</td>
                                            <td id="tdTable" scope="col">{{data9.purchaseId.NoBankCheck}}</td>
                                            <td id="tdTable" scope="col">{{data9.purchaseId.checkAmount  | number}}</td>
                                            <td id="tdTable" scope="col">{{data9.purchaseId.couponsAmount  | number}}</td>
                                            <td id="tdTable" scope="col">{{data9.purchaseId.otherPayment}}</td>
                                            <td id="tdTable" scope="col">{{data9.purchaseId.totalPurchase  | number}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>