<h3 mat-dialog-title ><mat-icon>sync</mat-icon>&nbsp; "Editar Combustible"</h3>
<hr>

<div mat-dialog-content>

    <form [formGroup]="updateFuelForm">

        <mat-form-field appearance="legacy">
            <mat-label>Tipo de Combustible:</mat-label>
            <input  id="fName"formControlName="fuelName" matInput>
            <mat-icon matSuffix> local_gas_station</mat-icon>
            <mat-hint></mat-hint>
          </mat-form-field>

        <mat-form-field appearance="outline">     
            <mat-label>Precio Costo</mat-label>
            <input formControlName="costPrice" matInput  readonly="" placeholder="Precio Costo Q.." >
            <mat-icon matSuffix>attach_money</mat-icon>
            <mat-hint></mat-hint>      
        </mat-form-field><br>
    
        
        <mat-form-field appearance="outline">
            <mat-label>Precio Público</mat-label>
            <input  formControlName="salePrice" matInput matInput  readonly="" placeholder="Precio Público Q..">
            <mat-icon matSuffix>attach_money</mat-icon>
            <mat-hint></mat-hint>
        </mat-form-field>
    
 
        <mat-form-field appearance="fill">
            <mat-label>Status</mat-label>
            <mat-select formControlName="statusId" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let status of selectedStatus" [value]="status.statusId">
                {{status.statusName}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="updateFuelForm.hasError('required')">Please choose an animal</mat-error>
            <mat-hint>{{updateFuelForm.value?.sound}}</mat-hint>
          </mat-form-field>
    
    <div mat-dialog-actions [align]="'end'">
        <button mat-raised-button color="warn" mat-dialog-close>
            <mat-icon>close</mat-icon>&nbsp; Cerrar</button>
        <button mat-raised-button color="primary" (click)="updateFuel();">
            <mat-icon>save</mat-icon> &nbsp; Guardar</button>
    </div>

<br><br><br>
    </form>

</div>