body {
    min-height: 100%;
    min-width: none;
    min-height: 120vh;
    width: 100% !important;
}

form {
    width: 100%;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    min-height: 100vh;
    background-color: white;
}

#priceSection {
    border: 1px solid #000;
    padding: 10px 20px;
    width: 100% !important;
    background-color: #EAFAF1;
}


#tablaCombustible {
    width: 100%;
    margin: 0 auto;
    border: 1px solid;
    background-color: white;
}

#tableInventory {
    width: 100%;
    margin: 0 auto;
    border: 1px solid;
    background-color: white;
}

td {
    border: 1px solid black;
    font-style: italic;
    text-align: center;
  
   
}
#trEncabezado {
    background-color: aqua;
    text-align: center;
}

#priceDiv{
    background-color: rebeccapurple;
    color: white    ;
    text-align: center;
    margin-top: 5%;
}
h2{
    font-size: 30px;
    margin-top: 15%;
}

#progress{
    height: 15px;
}
.row {
    display: flex;
}

.column {
    flex: 50%;
}
