<body>
  <app-maintenance-navbar></app-maintenance-navbar>

  <form  id="formulario" [formGroup]="assignmentHoseForm" class="mat-elevation-z8">
    <h3>
      <mat-icon> local_gas_station</mat-icon> &nbsp; Asignaciones
    </h3>
    <h4>Seleccione Bomba :</h4>
    <mat-form-field appearance="fill" id="bomba">
      <mat-label>Bomba</mat-label>
      <mat-select formControlName="dispenserId" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let dispenser of selectedDispenser" [value]="dispenser.dispenserId">
          {{dispenser.dispenserCode | titlecase}} 
        </mat-option>
      </mat-select>
      <mat-error *ngIf="assignmentHoseForm.hasError('required')">Por favor escoja una opción</mat-error>
      <mat-hint>{{assignmentHoseForm.value?.sound}}</mat-hint>
    </mat-form-field>&nbsp;
    <button mat-raised-button color="accent" (click)="createAssignment();">Asignar</button>
    <button mat-raised-button color="accent" (click)="getIdAssignment();">Modificar</button>
    <hr>

    <mat-tab-group backgroundColor="primary" [color]="color" >
      
      <mat-tab label="Lado A" >
      
        <h1>Lado A</h1>
        <hr>
          <div style="overflow-y: scroll;height:190px; width:550px; ">
            <button id="posiciones" mat-raised-button  (click)="position1();"><h4 >Manguera 1:</h4></button>
        
        
        <table class="example-full-width" cellspacing="0">
          <tr>

            <td>
              <mat-form-field appearance="fill">
                <mat-label>Combustible</mat-label>
                <mat-select formControlName="hosesId" required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let hoses of selectedHose" [value]="hoses.hoseId">
                    {{hoses.hoseColor | titlecase}} - {{hoses.fuelId?.fuelName| titlecase}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="assignmentHoseForm.hasError('required')">Por favor escoja una opción</mat-error>
                <mat-hint>{{assignmentHoseForm.value?.sound}}</mat-hint>
              </mat-form-field>
            </td>
            
              &nbsp; &nbsp; &nbsp;
            

            <td>
              <mat-form-field appearance="fill">
                <mat-label>Status</mat-label>
                <mat-select formControlName="statusId" required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let status of selectedStatus" [value]="status.statusId">
                    {{status.statusName | titlecase}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="assignmentHoseForm.hasError('required')">Por favor escoja una opción</mat-error>
                <mat-hint>{{assignmentHoseForm.value?.sound}}</mat-hint>
              </mat-form-field>
            </td>&nbsp; &nbsp; &nbsp;

            <td>
             <mat-icon id="check" (click) ="position1();">check_circle_outline</mat-icon>
            </td>

          </tr>
        </table>

        <button id="posiciones" mat-raised-button (click)="prueba();"><h4 >Manguera 2:</h4></button>

        <table class="example-full-width" cellspacing="0">
          <tr>

            <td>
              <mat-form-field appearance="fill">
                <mat-label>Combustible</mat-label>
                <mat-select formControlName="hosesId2" required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let hoses of selectedHose" [value]="hoses.hoseId">
                    {{hoses.hoseColor | titlecase}} - {{hoses.fuelId?.fuelName| titlecase}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="assignmentHoseForm.hasError('required')">Por favor escoja una opción</mat-error>
                <mat-hint>{{assignmentHoseForm.value?.sound}}</mat-hint>
              </mat-form-field>
            </td>
            
              &nbsp; &nbsp; &nbsp;
            

            <td>
              <mat-form-field appearance="fill">
                <mat-label>Status</mat-label>
                <mat-select formControlName="statusId2" required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let status of selectedStatus" [value]="status.statusId">
                    {{status.statusName | titlecase}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="assignmentHoseForm.hasError('required')">Por favor escoja una opción</mat-error>
                <mat-hint>{{assignmentHoseForm.value?.sound}}</mat-hint>
              </mat-form-field>
            </td>&nbsp; &nbsp; &nbsp;

            <td>
              <mat-icon id="check">check_circle_outline</mat-icon>
            </td>

          </tr>
        </table>

        
        <button id="posiciones" mat-raised-button (click)="prueba();"><h4 >Manguera 3:</h4></button>

        <table class="example-full-width" cellspacing="0">
          <tr>

            <td>
              <mat-form-field appearance="fill">
                <mat-label>Combustible</mat-label>
                <mat-select formControlName="hosesId3" required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let hoses of selectedHose" [value]="hoses.hoseId">
                    {{hoses.hoseColor | titlecase}} - {{hoses.fuelId?.fuelName| titlecase}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="assignmentHoseForm.hasError('required')">Por favor escoja una opción</mat-error>
                <mat-hint>{{assignmentHoseForm.value?.sound}}</mat-hint>
              </mat-form-field>
            </td>
            
              &nbsp; &nbsp; &nbsp;
            

            <td>
              <mat-form-field appearance="fill">
                <mat-label>Status</mat-label>
                <mat-select formControlName="statusId3" required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let status of selectedStatus" [value]="status.statusId">
                    {{status.statusName | titlecase}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="assignmentHoseForm.hasError('required')">Por favor escoja una opción</mat-error>
                <mat-hint>{{assignmentHoseForm.value?.sound}}</mat-hint>
              </mat-form-field>
            </td>&nbsp; &nbsp; &nbsp;

            <td>
              <mat-icon id="check">check_circle_outline</mat-icon>
            </td>

          </tr>
        </table>

        
        <button id="posiciones" mat-raised-button  (click)="prueba();"><h4 >Manguera 4:</h4></button>

        <table class="example-full-width" cellspacing="0">
          <tr>

            <td>
              <mat-form-field appearance="fill">
                <mat-label>Combustible</mat-label>
                <mat-select formControlName="hosesId4" required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let hoses of selectedHose" [value]="hoses.hoseId">
                    {{hoses.hoseColor | titlecase}} - {{hoses.fuelId?.fuelName| titlecase}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="assignmentHoseForm.hasError('required')">Por favor escoja una opción</mat-error>
                <mat-hint>{{assignmentHoseForm.value?.sound}}</mat-hint>
              </mat-form-field>
            </td>
            
              &nbsp; &nbsp; &nbsp;
            

            <td>
              <mat-form-field appearance="fill">
                <mat-label>Status</mat-label>
                <mat-select formControlName="statusId4" required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let status of selectedStatus" [value]="status.statusId">
                    {{status.statusName | titlecase}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="assignmentHoseForm.hasError('required')">Por favor escoja una opción</mat-error>
                <mat-hint>{{assignmentHoseForm.value?.sound}}</mat-hint>
              </mat-form-field>
            </td>&nbsp; &nbsp; &nbsp;

            <td>
              <mat-icon id="check">check_circle_outline</mat-icon>
            </td>

          </tr>
        </table>
      </div>

      </mat-tab>

      <mat-tab label="Lado B">
       
        
          <h1>Lado B</h1>
          <hr>
          <div style="overflow-y: scroll;height:190px; width:550px">
            <button id="posiciones" mat-raised-button  (click)="prueba();"><h4 >Manguera 1:</h4></button>
          
          <table class="example-full-width" cellspacing="0">
            <tr>
  
              <td>
                <mat-form-field appearance="fill">
                  <mat-label>Combustible</mat-label>
                  <mat-select formControlName="hosesId5" required>
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let hoses of selectedHose" [value]="hoses.hoseId">
                      {{hoses.hoseColor | titlecase}} - {{hoses.fuelId?.fuelName| titlecase}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="assignmentHoseForm.hasError('required')">Por favor escoja una opción</mat-error>
                  <mat-hint>{{assignmentHoseForm.value?.sound}}</mat-hint>
                </mat-form-field>
              </td>
              
                &nbsp; &nbsp; &nbsp;
              
  
              <td>
                <mat-form-field appearance="fill">
                  <mat-label>Status</mat-label>
                  <mat-select formControlName="statusId5" required>
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let status of selectedStatus" [value]="status.statusId">
                      {{status.statusName | titlecase}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="assignmentHoseForm.hasError('required')">Por favor escoja una opción</mat-error>
                  <mat-hint>{{assignmentHoseForm.value?.sound}}</mat-hint>
                </mat-form-field>
              </td>&nbsp; &nbsp; &nbsp;
  
              <td>
               <mat-icon id="check" (click) ="save();">check_circle_outline</mat-icon>
              </td>
  
            </tr>
          </table>
  
          <button id="posiciones" mat-raised-button  (click)="prueba();"><h4 >Manguera 2:</h4></button>
  
          <table class="example-full-width" cellspacing="0">
            <tr>
  
              <td>
                <mat-form-field appearance="fill">
                  <mat-label>Combustible</mat-label>
                  <mat-select formControlName="hosesId6" required>
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let hoses of selectedHose" [value]="hoses.hoseId">
                      {{hoses.hoseColor | titlecase}} - {{hoses.fuelId?.fuelName| titlecase}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="assignmentHoseForm.hasError('required')">Por favor escoja una opción</mat-error>
                  <mat-hint>{{assignmentHoseForm.value?.sound}}</mat-hint>
                </mat-form-field>
              </td>
              
                &nbsp; &nbsp; &nbsp;
              
  
              <td>
                <mat-form-field appearance="fill">
                  <mat-label>Status</mat-label>
                  <mat-select formControlName="statusId6" required>
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let status of selectedStatus" [value]="status.statusId">
                      {{status.statusName | titlecase}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="assignmentHoseForm.hasError('required')">Por favor escoja una opción</mat-error>
                  <mat-hint>{{assignmentHoseForm.value?.sound}}</mat-hint>
                </mat-form-field>
              </td>&nbsp; &nbsp; &nbsp;
  
              <td>
                <mat-icon id="check">check_circle_outline</mat-icon>
              </td>
  
            </tr>
          </table>
  
          
          <button id="posiciones" mat-raised-button  (click)="prueba();"><h4 >Manguera 3:</h4></button>
  
          <table class="example-full-width" cellspacing="0">
            <tr>
  
              <td>
                <mat-form-field appearance="fill">
                  <mat-label>Combustible</mat-label>
                  <mat-select formControlName="hosesId7" required>
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let hoses of selectedHose" [value]="hoses.hoseId">
                      {{hoses.hoseColor | titlecase}} - {{hoses.fuelId?.fuelName| titlecase}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="assignmentHoseForm.hasError('required')">Por favor escoja una opción</mat-error>
                  <mat-hint>{{assignmentHoseForm.value?.sound}}</mat-hint>
                </mat-form-field>
              </td>
              
                &nbsp; &nbsp; &nbsp;
              
  
              <td>
                <mat-form-field appearance="fill">
                  <mat-label>Status</mat-label>
                  <mat-select formControlName="statusId7" required>
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let status of selectedStatus" [value]="status.statusId">
                      {{status.statusName | titlecase}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="assignmentHoseForm.hasError('required')">Por favor escoja una opción</mat-error>
                  <mat-hint>{{assignmentHoseForm.value?.sound}}</mat-hint>
                </mat-form-field>
              </td>&nbsp; &nbsp; &nbsp;
  
              <td>
                <mat-icon id="check">check_circle_outline</mat-icon>
              </td>
  
            </tr>
          </table>
  
          
          <button id="posiciones" mat-raised-button  (click)="prueba();"><h4 >Manguera 4:</h4></button>
  
          <table class="example-full-width" cellspacing="0">
            <tr>
  
              <td>
                <mat-form-field appearance="fill">
                  <mat-label>Combustible</mat-label>
                  <mat-select formControlName="hosesId8" required>
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let hoses of selectedHose" [value]="hoses.hoseId">
                      {{hoses.hoseColor | titlecase}} - {{hoses.fuelId?.fuelName| titlecase}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="assignmentHoseForm.hasError('required')">Por favor escoja una opción</mat-error>
                  <mat-hint>{{assignmentHoseForm.value?.sound}}</mat-hint>
                </mat-form-field>
              </td>
              
                &nbsp; &nbsp; &nbsp;
              
  
              <td>
                <mat-form-field appearance="fill">
                  <mat-label>Status</mat-label>
                  <mat-select formControlName="statusId8" required>
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let status of selectedStatus" [value]="status.statusId">
                      {{status.statusName | titlecase}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="assignmentHoseForm.hasError('required')">Por favor escoja una opción</mat-error>
                  <mat-hint>{{assignmentHoseForm.value?.sound}}</mat-hint>
                </mat-form-field>
              </td>&nbsp; &nbsp; &nbsp;
  
              <td>
                <mat-icon id="check">check_circle_outline</mat-icon>
              </td>
  
            </tr>
          </table>
        </div>
        
      </mat-tab>
    </mat-tab-group>
  </form>
</body>
<app-footer></app-footer>