

 <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                   
                    <div class="table table-responsive">
                        <table class="table table-border" >
                            <thead >
                                <tr  class="trprincipal">
                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Correo</th>
                                    <th>Rol</th>
                                    <th>Status</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let element of users; let i = index">
                                    <td>{{i+1}}</td>
                                    <td>{{element.firstName | titlecase}}</td>
                                    <td>{{ element.lastName | titlecase }}</td>
                                    <td>{{element.email}}</td>
                                    <td>{{element.roleId| uppercase}}</td>
                                    <td>{{element.statusId.statusName | titlecase}}</td>

                                    
                                    <td>
                                        <a  (click)="UpdateUser(element);">
                                            <i  class="fa-solid fa-pencil text-info" ></i>
                                        </a>&nbsp;
                                        <a (click)="deleteUser();">

                                        <i  class="fa-solid fa-trash-can text-danger"></i>
                                        </a>
                                    </td>
    
                                </tr>
                            </tbody>
                        </table>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
    
   