
.table{
    border: 1px solid #101010;
    border-radius: 10px ;
  text-align: center;
    box-shadow: -30px 30px 20px rgb(0,0,0,0.3);
    
   
}

.fa-solid {
    cursor: pointer;
}

.trprincipal {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size : 18px;
    background-color: aqua;
    text-align: center;
    border-collapse: separate;
}

td{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 18px;
   
}

