<app-purchase-navbar></app-purchase-navbar>

<body>
    <div class="contenedor">
        <form class="formulario" [formGroup]="orderForm" class="mat-elevationz-8">
            <h3 id="titulo">
                <mat-icon> local_offer</mat-icon> Orden de Pedido
            </h3>
            <hr>
            <table id="tablaEncabezado" class="table  table-responsive" class="example-full-width" cellSpacing="0">
                <br>

                <tr>
                    <td id="parametrosPrincipales">
                        <label id="label1">Fecha de Orden : &nbsp; &nbsp; &nbsp;</label>
                        <mat-form-field id="mat-form-field-registros" id="matFiel-heards" color="accent"
                            appearance="fill">
                            <input id="input-registros" required matInput [matDatepicker]="orderDate"  formControlName="orderDate">
                            <mat-datepicker-toggle [for]="orderDate" matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #orderDate></mat-datepicker>
                        </mat-form-field>
                    </td>
                    <td id="parametrosPrincipales">
                        <label id="label1">Fecha de Orden : &nbsp; &nbsp; &nbsp;</label>
                        <mat-form-field id="mat-form-field-registros" id="matFiel-heards" color="accent"
                            appearance="fill">
                            <input id="input-registros" required matInput [matDatepicker]="deliveryDate"  formControlName="deliveryDate">
                            <mat-datepicker-toggle [for]="deliveryDate" matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #deliveryDate></mat-datepicker>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label id="label1">Nombre de Planta: &nbsp; &nbsp;</label>
                        <mat-form-field id="mat-form-field-registros" appearance="fill">
                            <mat-label>Planta</mat-label>
                            <mat-icon matSuffix> local_gas_station</mat-icon>
                            <mat-select formControlName="storeId" required>
                                <mat-option *ngFor="let store of storeSelected"
                                [value]="store.storeId">
                                {{store.storeName | titlecase}}
                                </mat-option>
                            </mat-select>
                            <mat-error>Por favor selecciones una opcíon</mat-error>
                            <mat-hint></mat-hint>
                        </mat-form-field>
                    </td>

                    <td>
                        <label id="label1">Nombre de Vehículo: &nbsp; &nbsp;</label>
                        <mat-form-field id="mat-form-field-registros" appearance="fill">
                            <mat-label>Vehículo</mat-label>
                            <mat-icon matSuffix> local_gas_station</mat-icon>
                            <mat-select  formControlName="vehicleId" required>
                                <mat-option  *ngFor="let vehicle of vehicleSelected"
                                [value]="vehicle.vehicleId">
                                {{vehicle.vehicleName | titlecase}}</mat-option>      
                            </mat-select>
                            <mat-error>Por favor selecciones una opcíon</mat-error>
                            <mat-hint></mat-hint>
                        </mat-form-field>
                    </td>
                </tr>
                <br>
                <tr>
                    <td>
                        <mat-form-field id="mat-form-field-registros" id="mat-form-field-registros" appearance="legacy">
                            <mat-label>Turno No:</mat-label>
                            <input id="input-registros" id="input-registros" type="number" id="fName" formControlName="turn" matInput>
                            <mat-icon matSuffix> local_gas_station</mat-icon>
                            <mat-hint>turno de despacho</mat-hint><br>
                        </mat-form-field><br>
                    </td>

                    <td>
                        <mat-form-field id="mat-form-field-registros" id="mat-form-field-registros" appearance="legacy">
                            <mat-label>Número de Orden:</mat-label>
                            <input id="input-registros" id="input-registros" type="number" id="fName" formControlName="orderNumber" matInput>
                            <mat-icon matSuffix> local_gas_station</mat-icon>
                            <mat-hint>número de orden generado</mat-hint><br>
                        </mat-form-field><br>
                    </td>
                </tr><br>
                <tr>
                    <td colspan="3" scope="rowgroup" align="center">
                        <button id="aprturaOrden" mat-raised-button color="primary" (click)="aperturaOrden();">Guardar</button>
                       
                    </td>
                </tr>
            </table><br>

            <table class="table  table-responsive"  id="tblDetail" class="example-full-width" style="width:100%" cellSpacing="0">
                <thead>
                    <th id="thead" scope="col"> Combustible</th>
                    <th id="thead" scope="col"> IDP</th>
                    <th id="thead" scope="col"> Cantidad</th>
                    <th id="thead" scope="col"> Precio</th>
                    <th id="thead" scope="col"> Total</th>
                </thead>
                <tbody>
                    <tr>
                        <td id="td">
                            <select class="form-control" aria-label="Default select example"  selected formControlName="fuelId" >
                                <option *ngFor="let fuel of  fuelSelected" [value]="fuel.fuelId">{{fuel.fuelName}}</option>
                               
                              </select>
                        </td>

                        <td id="td">
                            <select class="form-control" aria-label="Default select example"  selected formControlName="taxesId" >
                                <option>{{idpRegular}}</option>
                               
                              </select>
                        </td>

                        <td id="td">
                            <input id="input" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </td>

                        <td id="td">
                            <input id="input" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </td>

                        <td id="td">
                            <input id="input" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </td>
                        
                    </tr>
                </tbody>
                <button  id="butonSave" mat-raised-button color="primary">Primary</button>
            </table>

        
            <br>
            <section id="sectionTotals">
                <table  class="table  table-responsive"  class="example-full-width" style="width:100%" cellSpacing="0">
                    <thead>
                        <th  scope="col"> Combustible</th>
                        <th  scope="col"> Cantidad</th>
                        <th  scope="col"> Idp</th>
                        <th  scope="col"> Total</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="td">
                                <input id="input" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </td>
                            <td id="td">
                                <input id="input" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </td>
                            <td id="td">
                                <input id="input" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </td>
                            <td id="td">
                                <input id="input" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </td>
                            <td id="td">
                                <input id="input" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </td>
                        </tr><br>

                    </tbody>
                </table>
            </section>
        </form>
    </div>
</body>