<app-purchase-navbar></app-purchase-navbar>

<body>
    <div class="contenedor">
        <form class="formulario" [formGroup]="orderForm" class="mat-elevation-z8">
            <h3 id="titulo">
                <mat-icon> local_offer</mat-icon> Orden de Pedido
            </h3>
            <hr>
            <table id="tablaEncabezado" class="table  table-responsive" class="example-full-width" cellSpacing="0">
                <br>

                <tr>
                    <td id="parametrosPrincipales">
                        <label id="label1">Fecha de Orden : &nbsp; &nbsp; &nbsp;</label>
                        <mat-form-field id="mat-form-field-registros" id="matFiel-heards" color="accent"
                            appearance="fill">
                            <input id="input-registros" required matInput [matDatepicker]="orderDate"
                                formControlName="orderDate">
                            <mat-datepicker-toggle [for]="orderDate" matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #orderDate></mat-datepicker>
                        </mat-form-field>
                    </td>
                    <td id="parametrosPrincipales">
                        <label id="label1">Fecha de Orden : &nbsp; &nbsp; &nbsp;</label>
                        <mat-form-field id="mat-form-field-registros" id="matFiel-heards" color="accent"
                            appearance="fill">
                            <input id="input-registros" required matInput [matDatepicker]="deliveryDate"
                                formControlName="deliveryDate">
                            <mat-datepicker-toggle [for]="deliveryDate" matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #deliveryDate></mat-datepicker>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label id="label1">Nombre de Planta: &nbsp; &nbsp;</label>
                        <mat-form-field id="mat-form-field-registros" appearance="fill">
                            <mat-label>Planta</mat-label>
                            <mat-icon matSuffix> local_gas_station</mat-icon>
                            <mat-select formControlName="storeId" required>
                                <mat-option *ngFor="let store of storeSelected" [value]="store.storeId">
                                    {{store.storeName | titlecase}}
                                </mat-option>
                            </mat-select>
                            <mat-error>Por favor selecciones una opcíon</mat-error>
                            <mat-hint></mat-hint>
                        </mat-form-field>
                    </td>

                    <td>
                        <label id="label1">Nombre de Vehículo: &nbsp; &nbsp;</label>
                        <mat-form-field id="mat-form-field-registros" appearance="fill">
                            <mat-label>Vehículo</mat-label>
                            <mat-icon matSuffix> local_gas_station</mat-icon>
                            <mat-select formControlName="vehicleId" required>
                                <mat-option *ngFor="let vehicle of vehicleSelected" [value]="vehicle.vehicleId">
                                    {{vehicle.vehicleName | titlecase}}</mat-option>
                            </mat-select>
                            <mat-error>Por favor selecciones una opcíon</mat-error>
                            <mat-hint></mat-hint>
                        </mat-form-field>
                    </td>
                </tr>
                <br>
                <tr>
                    <td>
                        <mat-form-field id="mat-form-field-registros" id="mat-form-field-registros" appearance="legacy">
                            <mat-label>Turno No:</mat-label>
                            <input id="input-registros" id="input-registros" type="number" id="fName"
                                formControlName="turn" matInput>
                            <mat-icon matSuffix> local_gas_station</mat-icon>
                            <mat-hint>turno de despacho</mat-hint><br>
                        </mat-form-field><br>
                    </td>

                    <td>
                        <mat-form-field id="mat-form-field-registros" id="mat-form-field-registros" appearance="legacy">
                            <mat-label>Número de Orden:</mat-label>
                            <input id="input-registros" id="input-registros" type="number" id="fName"
                                formControlName="orderNumber" matInput>
                            <mat-icon matSuffix> local_gas_station</mat-icon>
                            <mat-hint>número de orden generado</mat-hint><br>
                        </mat-form-field><br>
                    </td>
                </tr><br>
                <tr>
                    <td colspan="3" scope="rowgroup" align="center">
                        <button *ngIf="buttonDisableApertura" id="aprturaOrden" mat-raised-button color="primary"
                            (click)="aperturaOrden();">Guardar Super</button>

                    </td>
                </tr>

            </table><br>

            <h3>Detalle</h3>

            <br>

            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <label> Combustible</label>
                            <mat-form-field id="mat-form-field-registros" appearance="fill">
                                <mat-icon matSuffix> local_gas_station</mat-icon>
                                <mat-select formControlName="fuelId" required>
                                    <mat-option *ngFor="let fuel of fuelSuper" [value]="fuel.fuelId">
                                        {{fuel.fuelId.fuelName | titlecase}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>Por favor selecciones una opcíon</mat-error>
                                <mat-hint></mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <label>IDP</label>
                            <select type="number" class="form-control" aria-label="Default select example" selected
                                formControlName="taxesId">
                                <option>{{idp}}</option>

                            </select>
                        </div>
                    </div><br>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <label>Monto</label>
                            <input id="input" type="number" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" formControlName="amount">
                        </div>
                    </div><br>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <label>Precio</label>
                            <input id="input" type="number" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" formControlName="price">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <button *ngIf="buttonDisableOrderDetailSuper" id="butonSave" mat-raised-button color="primary"
                                (click)="saveOrderDetailSuper();">Guardar Regular</button>&nbsp;
                        </div>
                    </div>
                    <div class="row" *ngIf="hideSection">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <label>total</label>
                            <input id="input" type="number" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" formControlName="total" readOnly="">
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <label> Combustible</label>
                            <mat-form-field id="mat-form-field-registros" appearance="fill">
                                <mat-icon matSuffix> local_gas_station</mat-icon>
                                <mat-select formControlName="fuelId" required>
                                    <mat-option *ngFor="let fuel of fuelRegular" [value]="fuel.fuelId">
                                        {{fuel.fuelId.fuelName | titlecase}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>Por favor selecciones una opcíon</mat-error>
                                <mat-hint></mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <label>IDP</label>
                            <select type="number" class="form-control" aria-label="Default select example" selected
                                formControlName="taxesId">
                                <option>{{idp}}</option>

                            </select>
                        </div>
                    </div><br>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <label>Monto</label>
                            <input id="input" type="number" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" formControlName="amount">
                        </div>
                    </div><br>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <label>Precio</label>
                            <input id="input" type="number" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" formControlName="price">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <button *ngIf="buttonDisableOrderDetailRegular" id="butonSave" mat-raised-button color="primary"
                                (click)="saveOrderDetailRegular();">Guardar Regular</button>&nbsp;
                           
                        </div>
                    </div>
                    <div class="row" *ngIf="hideSection">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <label>total</label>
                            <input id="input" type="number" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" formControlName="total" readOnly="">
                        </div>
                    </div>
                </div>


                <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <label> Combustible</label>
                            <mat-form-field id="mat-form-field-registros" appearance="fill">
                                <mat-icon matSuffix> local_gas_station</mat-icon>
                                <mat-select formControlName="fuelId" required>
                                    <mat-option *ngFor="let fuel of fuelDiesel" [value]="fuel.fuelId">
                                        {{fuel.fuelId.fuelName | titlecase}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>Por favor selecciones una opcíon</mat-error>
                                <mat-hint></mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <label>IDP</label>
                            <select type="number" class="form-control" aria-label="Default select example" selected
                                formControlName="taxesId">
                                <option>{{idp}}</option>

                            </select>
                        </div>
                    </div><br>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <label>Monto</label>
                            <input id="input" type="number" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" formControlName="amount">
                        </div>
                    </div><br>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <label>Precio</label>
                            <input id="input" type="number" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" formControlName="price">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <button *ngIf="buttonDisableOrderDetailDiesel" id="butonSave" mat-raised-button color="primary"
                                (click)="saveOrderDetailDiesel();">Guardar Diesel</button>&nbsp;
                           
                        </div>
                    </div>
                    <div class="row" *ngIf="hideSection">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <label>total</label>
                            <input id="input" type="number" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" formControlName="total" readOnly="">
                        </div>
                    </div>
                </div>

            </div>

            <br><br>

            <section>
                <mat-form-field id="mat-form-field-registros" id="mat-form-field-registros" appearance="legacy">
                    <mat-label>Super</mat-label>
                    <input id="input-registros" id="input-registros" type="number" id="fName"
                        formControlName="totalGallonSuper" matInput>
                    <mat-icon matSuffix> local_gas_station</mat-icon>
                    <mat-hint>turno de despacho</mat-hint><br>
                </mat-form-field>

                <br>

                <mat-form-field id="mat-form-field-registros" id="mat-form-field-registros" appearance="legacy">
                    <mat-label>Regular</mat-label>
                    <input id="input-registros" id="input-registros" type="number" id="fName"
                        formControlName="totalGallonRegular" matInput>
                    <mat-icon matSuffix> local_gas_station</mat-icon>
                    <mat-hint>turno de despacho</mat-hint><br>
                </mat-form-field><br>

                <mat-form-field id="mat-form-field-registros" id="mat-form-field-registros" appearance="legacy">
                    <mat-label>Diesel</mat-label>
                    <input id="input-registros" id="input-registros" type="number" id="fName"
                        formControlName="totalGallonDiesel" matInput>
                    <mat-icon matSuffix> local_gas_station</mat-icon>
                    <mat-hint>turno de despacho</mat-hint><br>
                </mat-form-field>

            </section>
            <section id="sectionTotals">
                <h3>Totales</h3>
                <table class="table  table-responsive" class="example-full-width" style="width:100%" cellSpacing="0">
                    <thead>
                        <th scope="col"> <u>Combustible</u></th>
                        <th scope="col"><u> Cantidad</u></th>
                        <th scope="col"><u> Idp</u></th>
                        <th scope="col"> <u>Total</u></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of PurchaseDetOrder">
                            <td>{{data.fuelId.fuelName}}</td>
                            <td>{{data.amount | number}}</td>
                            <td>{{data.idpTotal | number}}</td>
                            <td>{{data.total | number}}</td>

                        </tr><br>

                    </tbody>
                </table>
                <hr>
                <table class="table  table-responsive" class="example-full-width" style="width:100%" cellSpacing="0">
                    <thead>
                        <th id="tdTotal" cope="col" colspan="2" align="right" style="width:100%"> <u>Totales</u></th>
                    </thead>
                    <tbody>


                        <tr>
                            <td align="right" style="width:70%">
                                <label>Sub Total</label>
                            </td>
                            <td id="tdTotal" *ngFor="let subtotal of totaPurchases">
                                <input id="input-registros" id="input-registros" type="number" name="gallonA"
                                    formControlName="subtotal" matInput>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" style="width:70%">
                                <label>Total IDP</label>
                            </td>
                            <td id="tdTotal" *ngFor="let totalIDP of totaIDPPurchases">
                                <input id="input-registros" id="input-registros" type="number" name="gallonA"
                                    formControlName="totalIDPPurchaseOrder" [(ngModel)]="totalIDP.count" matInput>
                            </td>
                        </tr>
                        <hr>

                        <tr>
                            <td align="right" style="width:70%"><label> total</label></td>
                            <td id="tdTotal" *ngFor="let total of totaPurchases">
                                <input id="input-registros" id="input-registros" type="number" name="gallonA"
                                    formControlName="totalPurchaseOrder" [(ngModel)]="total.count" matInput>
                            </td>
                        </tr>

                        <tr>
                            <td id="tdTotal">

                                <button mat-raised-button color="primary" (click)="saveOrder();">Guardar</button>

                            </td>
                            <hr>
                        </tr>
                    </tbody>
                </table>
            </section><br><br><br><br><br><br><br><br><br><br><br><br><br><br>




        </form>
    </div>
</body>