

table{
    width: 70%;
    margin: 0 auto;
  }
  
  
  
  .fa-solid {
      cursor: pointer;
  }
  
  th {
      background-color: blueviolet;
      font-family: 'Courier New', Courier, monospace;
      font-size : 20px;
      color: white;
      
      border: 1px solid rgb(57, 57, 58);
  }
  
  td{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size : 20px;
    text-align: center;
  }

  
  #encabezado{
    text-align: center;
  }
  
  
  